<div class="chat-dock">
    <div class="chat-box-wrapper clearfix">
        <!--<div class="chat-box-position">-->
            <!--<div class="chat-box" data-chat-userId="1">-->
                <!--<div class="chat-box-title">-->
                    <!--<div class="chat-box-title-buttons right">-->
                        <!--<a href="#" class="chatCloseBtn"><i class="fa fa-times"></i></a>-->
                    <!--</div>-->
                    <!--<h4 class="chat-box-title-text-wrapper">-->
                        <!--<a href="#">Jon Bullock</a>-->
                    <!--</h4>-->
                <!--</div>-->
                <!--<div class="chat-box-messages scrollable">-->
                    <!--<div class="chat-message-list" data-chat-userId="1">-->
                        <!--<div class="chat-message clearfix" data-chat-messageId="11">-->
                            <!--<div class="chat-user-profile"><a href="#"><img src="/img/jon_profile.jpg" alt="Jon profile"/></a></div>-->
                            <!--<div class="chat-text-wrapper">-->
                                <!--<div class="chat-text">-->
                                    <!--<div class="chat-text-inner">-->
                                        <!--<span>Hey! trudesk is really cool. Your one of the best coders. You should sell this crap for realz $$$.</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="chat-message chat-message-user clearfix" data-chat-messageId="12">-->
                            <!--&lt;!&ndash;<div class="chat-user-profile"><a href="#"><img src="img/jon_profile.jpg" alt="Jon profile"/></a></div>&ndash;&gt;-->
                            <!--<div class="chat-text-wrapper">-->
                                <!--<div class="chat-text chat-text-user">-->
                                    <!--<div class="chat-text-inner">-->
                                        <!--<span>Yea JB, I could make a killing with the knowledge I have.. I could rekt them on how BA this is.</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->
                <!--<div class="chat-box-text">-->
                    <!--<textarea class="textAreaAutogrow autogrow-short" name="message" rows="1"></textarea>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="chat-box-position">-->
            <!--<div class="chat-box" data-chat-userId="2">-->
                <!--<div class="chat-box-title">-->
                    <!--<div class="chat-box-title-buttons right">-->
                        <!--<a href="#" class="chatCloseBtn"><i class="fa fa-times"></i></a>-->
                    <!--</div>-->
                    <!--<h4 class="chat-box-title-text-wrapper">-->
                        <!--<a href="#">Rick Spencer</a>-->
                    <!--</h4>-->
                <!--</div>-->
                <!--<div class="chat-box-messages scrollable">-->
                    <!--<div class="chat-message-list" data-chat-userId="1">-->
                        <!--<div class="chat-message clearfix" data-chat-messageId="11">-->
                            <!--<div class="chat-user-profile"><a href="#"><img src="/img/rick_profile.jpg" alt="Rick profile"/></a></div>-->
                            <!--<div class="chat-text-wrapper">-->
                                <!--<div class="chat-text">-->
                                    <!--<div class="chat-text-inner">-->
                                        <!--<span>Hey! trudesk is really cool. Your one of the best coders. You should sell this crap for realz $$$.</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="chat-message chat-message-user clearfix" data-chat-messageId="12">-->
                            <!--&lt;!&ndash;<div class="chat-user-profile"><a href="#"><img src="img/jon_profile.jpg" alt="Jon profile"/></a></div>&ndash;&gt;-->
                            <!--<div class="chat-text-wrapper">-->
                                <!--<div class="chat-text chat-text-user">-->
                                    <!--<div class="chat-text-inner">-->
                                        <!--<span>Yea JB, I could make a killing with the knowledge I have.. I could rekt them on how BA this is.</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->
                <!--<div class="chat-box-text">-->
                    <!--<textarea class="textAreaAutogrow autogrow-short" name="message" rows="1"></textarea>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    </div>
</div>