<div class="sidebar small-1 large-2 columns nopadding full-height hide-for-small-down">
    <ul class="side-nav">
        <li><a href="#"><i class="fa fa-home fa-large"></i><span class="show-for-large-up">Home</span></a></li>
        <li><a href="#"><i class="fa fa-paste fa-large"></i>Tickets</a></li>
        <li class="active"><a href="#" data-sub-menu="side-nav-sub-messages"><i class="fa fa-envelope-o fa-large"></i>Messages</a>
            <ul id="side-nav-sub-messages" class="side-nav-sub subMenuOpen">
                <li class="active"><a href="#"><i class="icon-inbox"></i>Inbox</a></li>
                <li><a href="#"><i class="icon-sent"></i>Sent Items</a></li>
                <li><a href="#"><i class="icon-trash"></i>Trash</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="fa fa-calendar fa-large"></i>Calendar</a></li>
        <li><a href="#"><i class="fa fa-hdd-o fa-large"></i>Servers</a></li>
        <li><a href="#"><i class="icon-accounts"></i>Accounts</a></li>
        <li><a href="#"><i class="fa fa-comments-o fa-large"></i>Chat</a></li>
        <li><a href="#"><i class="icon-invoices"></i>Invoices</a></li>
    </ul>
</div>