
<div class="sidebar small-1 large-2 columns nopadding full-height hide-for-small-down">
    <ul class="side-nav">
        <li {{#is nav 'dashboard'}} class='active' {{/is}}><a href="/dashboard"><i class="fa fa-home fa-large"></i><span class="show-for-large-up">Home</span></a></li>
        <li {{#is nav 'tickets'}} class='active' {{/is}}><a href="/tickets"><i class="fa fa-paste fa-large"></i>Tickets</a></li>
        <li {{#is nav 'messages'}} class='active' {{/is}}><a href="/messages" data-sub-menu="side-nav-sub-messages"><i class="fa fa-envelope-o fa-large"></i>Messages</a>
            <ul id="side-nav-sub-messages" class="side-nav-sub {{#is nav 'messages'}} subMenuOpen {{/is}}">
                <li {{#is subnav 'messages-inbox'}} class='active' {{/is}}><a href="/messages/inbox"><i class="icon-inbox"></i>Inbox</a></li>
                <li><a href="/messages/sentitems"><i class="icon-sent"></i>Sent Items</a></li>
                <li><a href="/messages/trash"><i class="icon-trash"></i>Trash</a></li>
            </ul>
        </li>
        <li {{#is nav 'calendar'}} class='active' {{/is}}><a href="/calendar"><i class="fa fa-calendar fa-large"></i>Calendar</a></li>
        <li {{#is nav 'servers'}} class='active' {{/is}}><a href="/servers"><i class="fa fa-hdd-o fa-large"></i>Servers</a></li>
        <li {{#is nav 'accounts'}} class='active' {{/is}}><a href="/accounts"><i class="icon-accounts"></i>Accounts</a></li>
        <li {{#is nav 'chat'}} class='active' {{/is}}><a href="/chat"><i class="fa fa-comments-o fa-large"></i>Chat</a></li>
        <li {{#is nav 'invoices'}} class='active' {{/is}}><a href="/invoices"><i class="icon-invoices"></i>Invoices</a></li>
    </ul>
</div>