<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>New Password</title>
    <style>
        h1,h2,h3,h4,h5,h6 {
            margin-bottom: 2px;
        }
        hr {
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;
            background: #ccc;
            height: 3px;
            border: none;
        }
    </style>
</head>
<body>
<div>
    <p>Dear {{user.fullname}},</p>
    <p>Your password has been reset to: {{password}}</p>
</div>
</body>
</html>