@import "mixins"
@import "_settings"
@import url(http://fonts.googleapis.com/css?family=Lato:300,400)
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300,600)
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700)
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700)
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700)

@import url(https://fonts.googleapis.com/icon?family=Material+Icons)

html,
body
  background: #d5dae6
  overflow-x: hidden
  font-family: "Open Sans", sans-serif
  height: 100%

a
  text-decoration: none !important

pre
  word-wrap: normal
  padding: 16px
  overflow: auto
  font-size: 85%
  line-height: 1.45
  background-color: #F7F7F7
  +borderRadius(3px)

  code
    display: inline
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace
    color: #333333
    max-width: initial
    padding: 0
    margin: 0
    overflow: initial
    line-height: inherit
    word-wrap: normal
    background-color: transparent
    border: 0
    white-space: pre
    +borderRadius(3px)

.nomargin
  margin: 0 !important
.nomargin-top
  margin-top: 0 !important
.marginright20
  margin-right: 20px !important
.marginright30
  margin-right: 30px !important
.marginleft5
  margin-left: 5px !important
.marginright5
  margin-right: 5px !important
.padtop20
  padding-top: 20px !important
.padright20
  padding-right: 20px !important
.padleft30
  padding-left: 30px !important
.nopadding
  padding: 0 !important
.nopadding-right
  padding-right: 0 !important
.nopadding-left
  padding-left: 0 !important
.nopadding-top
  padding-top: 0 !important
.nopadding-bottom
  padding-bottom: 0 !important
.noshadow
  +boxShadow(none !important)
.no-overflow-x
  overflow-x: hidden !important
.relative
  position: relative !important
.hide
  display: none !important
.vishide
  visibility: hidden !important
  opacity: 0 !important
  height: 0 !important
  width: 0 !important
  font-size: 0 !important
  border: 0 !important
  margin: 0 !important
  padding: 0 !important

.cursor-pointer
  cursor: default !important
  &:hover
    cursor: pointer !important

.button-group>li
  float: left
  margin: 0

.profilePic
  width: 50px
  height: 50px
  border: none
  +borderRadius(50%)

a.blackLink
  color: #000000 !important

a.hoverUnderline
  &:hover
    text-decoration: underline

.profilePic
  +borderRadius(50%)
  img
    height: 50px
    width: 50px
    +borderRadius(50%)

.row
  max-width: $rowWidth

.page-title,
.page-title-right
  height: 70px
  background: #eef1f7
  border-top: 2px solid #e74c3c
  +boxShadow2(inset 0 1px 0px #fff, 2px 2px 2px 0px rgba(44,62,80,0.1))
  padding: 0 15px 0 30px
  @media only screen and (min-width: 64.063em)
    padding: 0 15px 0 30px

  font-family: "Roboto", sans-serif
  p
    font-size: 30px
    margin: 0
    line-height: 70px
    color: #55616e
    font-weight: 300
    &.left
      line-height: 68px

  &.page-title-small
    p
      font-size: 28px


.page-title-border-right
  width: 100%
  height: 100%
  border-right: 1px solid #dfe4ef

.page-content
  background: white
  border-top: 1px solid #dfe4ef
  overflow: auto

.page-right-content
  background: #d5dae6

.page-left
  background: #eef1f7
  border-top: 1px solid #dfe4ef
  border-right: 1px solid #dfe4ef

.fa-large
  font-size: 24px
  line-height: 26px

button:hover,
button:focus,
.button:hover,
.button:focus
  background-color: darken(#e74c3c, 5%)

button,
a.button
  color: #fff
  font-family: "Source Sans Pro", sans-serif
  font-weight: 600
  font-size: 14px
  //margin: 18px 5px 0 0
  padding: 4px 16px
  +borderRadius(3px)
  background: #e74c3c
  outline: none

  &.dropdown
    padding-right: 40px
    //margin: 0
    &:after
      width: auto
      height: auto
      right: 12px
      top: 10px
      font-family: "FontAwesome"
      content: "\f078"
      border: none
      font-size: 12px

  &:hover
    background: darken(#e74c3c, 5%)
    color: white

  i
    font-weight: normal
    margin-right: 10px
    font-size: 14px

//.f-dropdown.open:before
//  left: 10px !important
//.f-dropdown.open:after
//  left: 9px !important

.f-dropdown
  background: lighten(#eef1f7, 5%)
  border: darken(#eef1f7, 15%)
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  &.noarrow
    &:before
      border: none
    &:after
      border: none

.f-dropdown.xtiny
  max-width: 150px

.panel
  hr
    margin: 0
  &.trupanel
    background: #eef1f7
    border: darken(#eef1f7, 15%)
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    transition: all 280ms ease-in-out
    -webkit-transition: all 280ms ease-in-out
    &:hover:not(.no-hover-shadow)
      box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23)
  .panel-body
    padding: 15px

.tru-card-content
  padding: 16px
  h2
    font-size: 24px
    font-weight: 500
    line-height: 30px
    color: #444

.action-link
  background: transparent
  padding: 0
  border: none
  margin: 0
  +borderRadius(0)
  &:hover, &:active, &:focus, &:visited
    background: none
  &:last-child
    margin-right: 10px
  i
    color: #727272
    padding: 6px 0 0 0
    margin: 4px 4px 0 0
    font-size: 22px
    cursor: pointer
    width: 32px !important
    height: 32px !important
    text-align: center
    -webkit-transition: background 280ms ease-out, color 280ms ease-out
    transition: background 280ms ease-out, color 280ms ease-out
    +borderRadius(50%)
    -webkit-tap-highlight-color: transparent
    &:hover
      background: darken(#eef1f7, 10%)

.top-bar-section ul.uk-topbar
  display: block
  width: 100%
  margin-right: -5px !important
  li
    float: none !important
    width: 100% !important
    background: #fff !important
    line-height: 1.4em !important
    height: auto !important
  a
    display: block
    width: 100%
    background: #fff !important
    line-height: 1.4em !important
    padding: 5px 15px !important
    color: #212121 !important
    &:hover
      background: rgba(0,0,0, 0.085) !important
      color: #212121 !important

@import "partials/common"
@import "partials/topnav"
@import "partials/sidebar"
@import "partials/messages"
@import "partials/tickets"
@import "partials/datatables"
@import "partials/servers"
@import "partials/chat"
@import "partials/dashboard"
@import "partials/donutchart"
@import "partials/barchart"
@import "partials/flottooltip"
@import "partials/calendar"
@import "partials/chosen"
@import "partials/onoffswitch"
@import "partials/mg"
@import "partials/materialize"
@import "partials/selectize"
@import "partials/trucard"
@import "partials/fab"
@import "partials/waves"
@import "partials/modal"

@import "partials/ui"