<!DOCTYPE html>
<html>
<head>
    <title>TruDesk &middot; {{{title}}}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/normalize.min.css"/>
    <link rel="stylesheet" href="/css/foundation.min.css"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/css/foundation.min.css"/>

    {{#block 'css'}}

    {{/block}}

    <link rel="stylesheet" href="/css/plugins/datatables/dataTables.scroller.css"/>
    <link rel="stylesheet" href="/css/plugins/datatables/dataTables.foundation.css"/>
    <link rel="stylesheet" href="/js/vendor/chosen/chosen.css" />

    <link rel="stylesheet" href="/css/vendor/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/app.min.css"/>

    <script src="/js/vendor/requirejs/requirejs.min.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/app.js"></script>

</head>
<body>
<div id="loader"></div>
<div class="wrapper">
    {{> topbar }}
    <div class="row">
        {{> nav }}

            <div id="page-content" class="clearfix" ng-controller="truCtrl">
                {{{body}}}
            </div>
    </div>
    {{> chatdock }}
</div>

</body>

{{#block "js-plugins"}}

{{/block}}

</html>