<!DOCTYPE html>
<html>
<head>
    <title>TruDesk &middot; {{{title}}}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/normalize.min.css"/>

    <link rel="stylesheet" href="/css/vendor/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/app.min.css"/>
    <link rel="stylesheet" href="/css/print.css" />
</head>
<body>
<div class="wrapper" style="overflow: auto">
    {{{body}}}
</div>

<script type="text/javascript">
    // <![CDATA[
    document.body.onload=function(){document.body.offsetHeight;window.print()};
    // ]]>
</script>

</body>

</html>