<div class="small-12 large-10 columns nopadding page-right-content">
<div class="page-title">
    <p class="left">Dashboard</p>
</div>
<!--Content Here-->
<div class="row" style="padding-top: 65px; padding-left: 60px;">
    <div class="small-12 large-6 columns padtop20">
        <div class="circle-chart-wrapper clearfix">
            <div class="donutchart-wrapper">
                <div class="donutchart " data-percent="75"><span class="chart-value percent">0</span></div>
                <div class="donutchart-caption">completed</div>
            </div>
            <div class="donutchart-wrapper">
                <div class="donutchart " data-percent="25" data-trackColor="#3498db" data-numCount="true" data-totalNumCount="192"><span class="chart-value">192</span></div>
                <div class="donutchart-caption">active</div>
            </div>
            <div class="donutchart-wrapper">
                <div class="donutchart " data-percent="35" data-trackColor="#2fb150" data-numCount="true" data-totalNumCount="231"><span class="chart-value">231</span></div>
                <div class="donutchart-caption">new</div>
            </div>
        </div>
        <div class="small-12 columns circle-chart-caption">
            <span>Tickets Summary <img src="img/small-midDots.png" alt="Divider"/> Total 768</span>
        </div>
    </div>
    <div class="small-12 large-6 columns">
        <div class="bar-chart-wrapper clearfix">
            <div id="ticketBarChart" class="bar-chart clearfix">
                <div class="bar-axis">
                    <ul class="y-axis">
                        <li><span>400</span></li>
                        <li><span>300</span></li>
                        <li><span>200</span></li>
                        <li><span>100</span></li>
                        <li><span>0</span></li>
                    </ul>
                </div>
                <div class="bar" data-percent="20">
                                <span id="ticketDaily_sunday1"
                                      data-ptooltip
                                      data-title="Date"
                                      data-ptooltip-type="dailyticket"
                                      data-new-count="231"
                                      data-closed-count="18"
                                      class="bar-track ptooltip">
                                </span>
                    <span class="bar-label">S</span>
                </div>
                <div class="bar" data-percent="40">
                                <span id="ticketDaily_monday1"
                                      data-ptooltip
                                      data-title="Date"
                                      data-ptooltip-type="dailyticket"
                                      data-new-count="231"
                                      data-closed-count="18"
                                      class="bar-track ptooltip">
                                </span>
                    <span class="bar-label">M</span>
                </div>
                <div class="bar" data-percent="60">
                                <span id="ticketDaily_tuesday"
                                      data-ptooltip
                                      data-title="Date"
                                      data-ptooltip-type="dailyticket"
                                      data-new-count="231"
                                      data-closed-count="18"
                                      class="bar-track ptooltip">
                                </span>
                    <span class="bar-label">T</span>
                </div>
                <div class="bar" data-percent="50">
                                <span id="ticketDaily_wednesday1"
                                      data-ptooltip
                                      data-title="Date"
                                      data-ptooltip-type="dailyticket"
                                      data-new-count="231"
                                      data-closed-count="18"
                                      class="bar-track ptooltip">
                                </span>
                    <span class="bar-label">W</span>
                </div>
                <div class="bar" data-percent="90">
                                <span id="ticketDaily_thursday1"
                                      data-ptooltip
                                      data-title="Date"
                                      data-ptooltip-type="dailyticket"
                                      data-new-count="231"
                                      data-closed-count="18"
                                      class="bar-track ptooltip">
                                </span><span class="bar-label">T</span>
                </div>
                <div class="bar" data-percent="10">
                                <span id="ticketDaily_friday1"
                                      data-ptooltip
                                      data-title="Date"
                                      data-ptooltip-type="dailyticket"
                                      data-new-count="231"
                                      data-closed-count="18"
                                      class="bar-track ptooltip">
                                </span>
                    <span class="bar-label">F</span>
                </div>
                <div class="bar" data-percent="30">
                                <span id="ticketDaily_saturday1"
                                      data-ptooltip
                                      data-title="Date"
                                      data-ptooltip-type="dailyticket"
                                      data-new-count="231"
                                      data-closed-count="18"
                                      class="bar-track ptooltip">
                                </span>
                    <span class="bar-label">S</span>
                </div>
                <div class="bar" data-percent="45">
                                <span id="ticketDaily_sunday2"
                                      data-ptooltip
                                      data-title="Date"
                                      data-ptooltip-type="dailyticket"
                                      data-new-count="231"
                                      data-closed-count="18"
                                      class="bar-track ptooltip">
                                </span>
                    <span class="bar-label">S</span>
                </div>
                <div class="bar" data-percent="85">
                                <span id="ticketDaily_monday2"
                                      data-ptooltip
                                      data-title="Date"
                                      data-ptooltip-type="dailyticket"
                                      data-new-count="231"
                                      data-closed-count="18"
                                      class="bar-track ptooltip">
                                </span>
                    <span class="bar-label">M</span>
                </div>
                <div class="bar" data-percent="50">
                                <span id="ticketDaily_tuesday2"
                                      data-ptooltip
                                      data-title="Date"
                                      data-ptooltip-type="dailyticket"
                                      data-new-count="231"
                                      data-closed-count="18"
                                      class="bar-track ptooltip">
                                </span>
                    <span class="bar-label">T</span>
                </div>
                <div class="bar" data-percent="45">
                                <span id="ticketDaily_wednesday2"
                                      data-ptooltip
                                      data-title="Date"
                                      data-ptooltip-type="dailyticket"
                                      data-new-count="231"
                                      data-closed-count="18"
                                      class="bar-track ptooltip">
                                </span>
                    <span class="bar-label">W</span>
                </div>
                <div class="bar" data-percent="25">
                                <span id="ticketDaily_thursday2"
                                      data-ptooltip
                                      data-title="Date"
                                      data-ptooltip-type="dailyticket"
                                      data-new-count="231"
                                      data-closed-count="18"
                                      class="bar-track ptooltip">
                                </span>
                    <span class="bar-label">T</span>
                </div>
                <div class="bar" data-percent="70">
                                <span id="ticketDaily_friday2"
                                      data-ptooltip
                                      data-title="Date"
                                      data-ptooltip-type="dailyticket"
                                      data-new-count="231"
                                      data-closed-count="18"
                                      class="bar-track ptooltip">
                                </span>
                    <span class="bar-label">F</span>
                </div>
                <div class="bar" data-percent="80">
                                <span id="ticketDaily_saturday2"
                                      data-ptooltip
                                      data-title="Date"
                                      data-ptooltip-type="dailyticket"
                                      data-new-count="231"
                                      data-closed-count="18"
                                      class="bar-track ptooltip">
                                </span>
                    <span class="bar-label">S</span>
                </div>
            </div>
            <div class="bar-chart-caption">
                <span>Tickets per Day</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-12 columns" style="padding: 0 60px">
        <div id="ticketLines" style="width: 100%; height: 240px"></div>
        <div class="chart-caption"><h4>Ticket Progress for 2014</h4></div>
    </div>
</div>
</div>

{{#contentFor 'js-plugins'}}
    <script src="js/plugins/flot/jquery.flot.js"></script>
    <script src="js/plugins/flot/jquery.flot.symbol.min.js"></script>
    <script src="js/plugins/flot/jquery.flot.time.min.js"></script>
    <script src="js/plugins/flot/jquery.flot.tooltip.js"></script>
    <script src="js/flotChart.js"></script>
{{/contentFor}}