{{#contentFor 'css'}}
    <link rel="stylesheet" href="/css/plugins/datatables/dataTables.scroller.css"/>
    <link rel="stylesheet" href="/css/plugins/datatables/dataTables.foundation.css"/>
{{/contentFor}}

<div class="small-12 large-10 columns nopadding ticketContent">
<div class="page-title noshadow">
    <p class="left">Tickets</p>
    <div class="right">
        <ul class="button-group">
            <li class="active"><a href="#" role="button" class="btn">Create</a></li>
        </ul>
    </div>
</div>

<div class="full-height">
<div class="ticketList full-height">
    <table id="ticketTable" class="pDataTable">
        <thead>
        <tr>
            <th></th>
            <th>Status</th>
            <th>Subject</th>
            <th>Created</th>
            <th>Requester</th>
            <th>Group</th>
            <th>Updated</th>
        </tr>
        </thead>
        <tbody>
        <tr class="ticket-new">
            <td>
                <input id="c2" type="checkbox"/>
                <label for="c2"></label>
            </td>
            <td class="ticket-status ticket-new"><span>New</span></td>
            <td>Need to look at this issue</td>
            <td>July 15</td>
            <td>Chris</td>
            <td>Administration</td>
            <td>Today 10:53a</td>
        </tr>
        <tr data-ticket="1">
            <td>
                <input id="c1" type="checkbox"/>
                <label for="c1"></label>
            </td>
            <td class="ticket-status ticket-open"><span>Open</span></td>
            <td>Need to look at this issue</td>
            <td>July 15</td>
            <td>Chris Brame</td>
            <td>Administration</td>
            <td>Today 10:53a</td>
        </tr>
        <tr class="ticket-pending">
            <td>
                <input id="c3" type="checkbox"/>
                <label for="c3"></label>
            </td>
            <td class="ticket-status ticket-pending"><span>Pending</span></td>
            <td>15 New computers for office 203</td>
            <td>July 13</td>
            <td>Christine hall</td>
            <td>Administration</td>
            <td>-</td>
        </tr>
        <tr class="ticket-pending">
            <td>
                <input id="c4" type="checkbox"/>
                <label for="c4"></label>
            </td>
            <td class="ticket-status ticket-pending"><span>Pending</span></td>
            <td>Motherboard Repair Needed</td>
            <td>July 12</td>
            <td>Joe Rogers</td>
            <td>Development</td>
            <td>-</td>
        </tr>
        <tr class="ticket-closed">
            <td>
                <input id="c5" type="checkbox"/>
                <label for="c5"></label>
            </td>
            <td class="ticket-status ticket-closed"><span>Closed</span></td>
            <td>Need to Look at this issue.</td>
            <td>July 12</td>
            <td>John Smith</td>
            <td>IT Support</td>
            <td>Today 11:52a</td>
        </tr>

        <tr class="ticket-closed">
            <td>
                <input id="c5" type="checkbox"/>
                <label for="c5"></label>
            </td>
            <td class="ticket-status ticket-closed"><span>Closed</span></td>
            <td>Need to Look at this issue.</td>
            <td>July 12</td>
            <td>John Smith</td>
            <td>IT Support</td>
            <td>Today 11:52a</td>
        </tr>
        <tr class="ticket-closed">
            <td>
                <input id="c5" type="checkbox"/>
                <label for="c5"></label>
            </td>
            <td class="ticket-status ticket-closed"><span>Closed</span></td>
            <td>Need to Look at this issue.</td>
            <td>July 12</td>
            <td>John Smith</td>
            <td>IT Support</td>
            <td>Today 11:52a</td>
        </tr>
        <tr class="ticket-closed">
            <td>
                <input id="c5" type="checkbox"/>
                <label for="c5"></label>
            </td>
            <td class="ticket-status ticket-closed"><span>Closed</span></td>
            <td>Need to Look at this issue.</td>
            <td>July 12</td>
            <td>John Smith</td>
            <td>IT Support</td>
            <td>Today 11:52a</td>
        </tr>
        <tr class="ticket-closed">
            <td>
                <input id="c5" type="checkbox"/>
                <label for="c5"></label>
            </td>
            <td class="ticket-status ticket-closed"><span>Closed</span></td>
            <td>Need to Look at this issue.</td>
            <td>July 12</td>
            <td>John Smith</td>
            <td>IT Support</td>
            <td>Today 11:52a</td>
        </tr>
        <tr class="ticket-closed">
            <td>
                <input id="c5" type="checkbox"/>
                <label for="c5"></label>
            </td>
            <td class="ticket-status ticket-closed"><span>Closed</span></td>
            <td>Need to Look at this issue.</td>
            <td>July 12</td>
            <td>John Smith</td>
            <td>IT Support</td>
            <td>Today 11:52a</td>
        </tr>
        <tr class="ticket-closed">
            <td>
                <input id="c5" type="checkbox"/>
                <label for="c5"></label>
            </td>
            <td class="ticket-status ticket-closed"><span>Closed</span></td>
            <td>Need to Look at this issue.</td>
            <td>July 12</td>
            <td>John Smith</td>
            <td>IT Support</td>
            <td>Today 11:52a</td>
        </tr>
        <tr class="ticket-closed">
            <td>
                <input id="c5" type="checkbox"/>
                <label for="c5"></label>
            </td>
            <td class="ticket-status ticket-closed"><span>Closed</span></td>
            <td>Need to Look at this issue.</td>
            <td>July 12</td>
            <td>John Smith</td>
            <td>IT Support</td>
            <td>Today 11:52a</td>
        </tr>
        <tr class="ticket-closed">
            <td>
                <input id="c5" type="checkbox"/>
                <label for="c5"></label>
            </td>
            <td class="ticket-status ticket-closed"><span>Closed</span></td>
            <td>Need to Look at this issue.</td>
            <td>July 12</td>
            <td>John Smith</td>
            <td>IT Support</td>
            <td>Today 11:52a</td>
        </tr>
        <tr class="ticket-closed">
            <td>
                <input id="c5" type="checkbox"/>
                <label for="c5"></label>
            </td>
            <td class="ticket-status ticket-closed"><span>Closed</span></td>
            <td>Need to Look at this issue.</td>
            <td>July 12</td>
            <td>John Smith</td>
            <td>IT Support</td>
            <td>Today 11:52a</td>
        </tr>
        <tr class="ticket-closed">
            <td>
                <input id="c5" type="checkbox"/>
                <label for="c5"></label>
            </td>
            <td class="ticket-status ticket-closed"><span>Closed</span></td>
            <td>Need to Look at this issue.</td>
            <td>July 12</td>
            <td>John Smith</td>
            <td>IT Support</td>
            <td>Today 11:52a</td>
        </tr>


        </tbody>
    </table>
</div>
</div>
</div>

{{#contentFor 'js-plugins'}}
    <script type="text/javascript">
        require(['jquery', 'modules/helpers', 'datatables', 'dt_responsive', 'dt_grouping', 'dt_foundation', 'dt_scroller'], function($, helpers) {
            $(document).ready(function() {
                var table = $('#ticketTable');
                table.dataTable({
                    searching: false,
                    bLengthChange: false,
                    bPaginate: false,
                    bInfo: false,
                    scrollY: '100%',
                    columnDefs: [
                        {"width": "50px", "targets": 0},
                        {"width": "100px", "targets": 1},
                        {"width": "30%", "targets": 2}
                    ]
                }).rowGrouping({
                    iGroupingColumnIndex: 1,
                    sGroupingColumnSortDirection: "asc",
                    iGroupingOrderByColumnIndex: 0,
                    bHideGroupingColumn: false,
                    bHideGroupingOrderByColumn: false
                });

                helpers.resizeDataTables('.ticketList');

                var tableRow = table.find('tr[data-ticket] > td');
                if (tableRow.length !== 0) {
                    tableRow.on('click', function(e) {
                        var i = $(this).parent('tr[data-ticket]').attr('data-ticket');
                        var j = $(this).find('input[type=checkbox]');
                        if ($(j).length !== 0)
                            return true;

                        //handle ticket link here
                        console.log('ticketId=' + i);
                    });
                }
            });
        });
    </script>
{{/contentFor}}