@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300,600);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
.top-nav, .top-bar { background: #2c3e50; height: 75px; line-height: 75px; }

.top-menu { height: 75px; }

.top-bar-section ul li { background: #2c3e50; height: 75px; line-height: 75px; color: #536679; position: relative; }
.top-bar-section ul li.top-bar-icon { font-size: 30px; font-family: "FontAwesome"; }
.top-bar-section ul li.top-bar-icon i { font-style: normal; margin: 0 10px 0 20px; }
.top-bar-section ul li.top-bar-icon span.label { font-size: 9px; font-family: "Open Sans", arial, sans-serif; font-weight: 700; padding: 5px 7px; position: absolute; right: 0px; bottom: 15px; background: #e74c3c; background: rgba(231, 76, 60, 0.9); }

.top-bar-section ul li.profile-area { font-family: "Lato", sans-serif; font-size: 18px; color: white; background: url("../img/midDots.png") no-repeat; background-position: 0 50%; margin-left: 10px; }
.top-bar-section ul li.profile-area span { display: inline-block; margin: 0 20px 0 25px; }
.top-bar-section ul li.profile-area img { border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; }

.sidebar { background: #223140; color: #cfd3d6; left: 0; top: 75px; bottom: 0; position: fixed; box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.07); -webkit-box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.07); -moz-box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.07); }

ul.side-nav li, ul.side-nav-sub li { font-size: 14px; font-family: "Roboto", sans-serif; margin-bottom: 0; }
ul.side-nav li.active > a, ul.side-nav-sub li.active > a { border-left: 2px solid #e74c3c; background: #192633 !important; }
ul.side-nav li.active > a i, ul.side-nav-sub li.active > a i { color: white; }
ul.side-nav a, ul.side-nav-sub a { padding: 0 0.875rem !important; color: white !important; border-left: 2px solid #223140; position: relative; padding-left: 60px !important; line-height: 48px; }
ul.side-nav a span, ul.side-nav-sub a span { padding-bottom: 5px; }
ul.side-nav a:hover, ul.side-nav-sub a:hover { border-left: 2px solid #e74c3c; background: #192633 !important; }
ul.side-nav a:hover i, ul.side-nav-sub a:hover i { color: white; }
ul.side-nav a:hover i.icon-accounts, ul.side-nav-sub a:hover i.icon-accounts { background-position: 0 -24px; }
ul.side-nav a:hover i.icon-invoices, ul.side-nav-sub a:hover i.icon-invoices { background-position: 0 -20px; }
ul.side-nav a i, ul.side-nav-sub a i { margin-right: 15px; color: #536679; margin-top: 5px; position: absolute; top: 5px; left: 15px; }

ul.side-nav-sub { list-style: none; background: #131e29; box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.07); -webkit-box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.07); -moz-box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.07); margin: 0; padding: 10px 0; }
ul.side-nav-sub li { margin: 5px 0; }
ul.side-nav-sub a { border: none; font-weight: 300; padding-left: 62px !important; line-height: 30px; }
ul.side-nav-sub a:hover { border: none; color: #e74c3c !important; background: inherit !important; }
ul.side-nav-sub a:hover .icon-inbox { background-position: 0 -18px; }
ul.side-nav-sub a:hover .icon-sent { background-position: -16px -17px; }
ul.side-nav-sub a:hover .icon-trash { background-position: -32px -16px; }

.icon-inbox, .icon-sent, .icon-trash { width: 16px; height: 16px; background: url(../img/inbox.png) 0 0 no-repeat; position: absolute; top: 3px !important; left: 20px !important; }

.icon-sent { background-position: -16px 0; }

.icon-trash { background-position: -32px 0; left: 22px !important; }

.icon-accounts { width: 18px; height: 24px; background: url(../img/accounts.png) 0 0 no-repeat; }

.icon-invoices { width: 24px; height: 20px; background: url(../img/invoices.png) 0 0 no-repeat; top: 10px !important; }

body { background: #d5dae6; }

.nopadding { padding: 0 !important; }

.row { max-width: 100%; }

.page-title { height: 70px; background: #eef1f7; border-top: 2px solid #e74c3c; box-shadow: inset 0 1px 0px white, 0px 2px 2px 0px rgba(44, 62, 80, 0.2); -webkit-box-shadow: inset 0 1px 0px white, 0px 2px 2px 0px rgba(44, 62, 80, 0.2); -moz-box-shadow: inset 0 1px 0px white, 0px 2px 2px 0px rgba(44, 62, 80, 0.2); padding: 0px 30px; font-family: "Roboto", sans-serif; }
.page-title p { font-size: 30px; margin: 0; line-height: 70px; color: #55616e; }

.fa-large { font-size: 24px; line-height: 26px; }
