<div ng-controller="settingsCtrl" ng-init="
    privacyPolicy='{{data.settings.privacyPolicy.value}}';

    init();
">
    <div class="nopadding settings">
        <div class="uk-width-1-1 page-title noshadow" style="padding-left: 25px !important; border-bottom: 1px solid #dadada;">
            <p class="left">{{title}}</p>
        </div>
        <!--Content Here-->
        <div class="page-wrapper full-height scrollable no-overflow-x">
            <div id="page-content-inner">

                <div class="setting-item-wrap uk-margin-medium-bottom">
                    <div class="panel trupanel nopadding no-hover-shadow uk-overflow-hidden" style="min-height: 60px; height: auto;">
                        <div class="left">
                            <h6 style="padding: 0 0 0 15px; margin: 15px 0 0 0; font-size: 16px; line-height: 14px;">Privacy Policy</h6>
                            <h5 style="padding: 0 0 10px 15px; margin: 2px 0 0 0; font-size: 12px;" class="uk-text-muted">
                                Paste in HTML / Text of your privacy policy.
                            </h5>
                        </div>
                        <div class="right" style="position:relative;">
                        </div>
                        <hr class="nomargin-top">
                        <div class="panel-body2" style="padding: 20px 15px 15px 15px;">
                            <div class="uk-position-relative">
                                <div class="uk-margin-medium-bottom">
                                    <textarea name="privacyPolicy" id="privacyPolicy" wrap="soft" ng-model="privacyPolicy"
                                              style="
                                              height: 350px;
                                              width: 100%;
                                              padding: 15px;
                                              font-size: 12px;
                                              resize: none;
                                              overflow: auto;
                                              overflow-wrap: normal;
                                              white-space: pre;
                                    "></textarea>
                                </div>
                                <div class="uk-clearfix">
                                    <button type="submit" class="uk-float-right md-btn md-btn-flat md-btn-flat-success md-btn-wave-light" id="privacyPolicySubmit" ng-click="savePrivacyPolicy($event);">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#contentFor 'js-plugins'}}

{{/contentFor}}