{{#block 'plugincss'}}
    <link rel="stylesheet" href="/plugins/ipam/css/ipam.css">
{{/block}}
<div class="ipam-test">Lets list the IPs that are stored in the plugin collection</div>
<ul>
    {{#each data.ipobjs}}
        <li>{{host}} - {{ipaddress}}</li>
    {{/each}}
</ul>