<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab icon-off="dashboard" icon-on="dashboard" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="tickets" icon-on="tickets" href="#/tab/tickets">
    <ion-nav-view name="tab-tickets"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="messages" icon-on="messages" href="#/tab/messages">
    <ion-nav-view name="tab-messages"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab icon-off="settings" icon-on="settings" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
