<ion-view>
  <ion-nav-title>Ticket {{ticket.uid}}</ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button class="button button-icon button-clear ion-ios-more" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>
  <ion-content class="padding">
    <div class="top-status">
      <span class="status-{{ticket.status}}"></span>
    </div>
    <div class="ticket-details">
      <img http-src="/uploads/users/{{ticket.owner.image}}" class="profile-pic" ng-if="ticket.owner.image">
      <img http-src="/uploads/users/defaultProfile.jpg" class="profile-pic" ng-if="!ticket.owner.image">
      <div class="margin-left-65">
        <span class="date">{{ticket.date | date: 'short'}}</span>
        <h4>Ticket #{{ticket.uid}}</h4>
        <h5>{{ticket.owner.fullname}}</h5>
        <h5>{{ticket.group.name}}</h5>
        <div class="assignee right {{hasAssignee}}" style="width: auto;">
          <img http-src="/uploads/users/{{ticket.assignee.image}}" ng-if="ticket.assignee && ticket.assignee.image" style="width: 25px; height: 25px; margin-right: 4px;" class="profile-pic" />
          <h6 style="margin: 0; padding: 0; display: inline-block;">{{ticket.assignee.fullname}}</h6>
        </div>
      </div>
    </div>
    <div class="ticket-content">
      <h4>Subject</h4>
      <h5>{{ticket.subject}}</h5>
      <h4>Issue</h4>
      <p class="issue-text" ng-bind-html='ticket.issue | sanitize'></p>
      <hr>

      <ion-list>
        <ion-item class="item-avatar no-border no-padding-bottom" ng-repeat="comment in ticket.commentsMerged" type="item-text-wrap">
          <div ng-if="!comment.owner.image" class="avatar">
            <img http-src="/uploads/users/defaultProfile.jpg" ng-if="!comment.owner.image">
          </div>
          <div ng-if="comment.owner.image" class="avatar">
            <img http-src="/uploads/users/{{comment.owner.image}}" ng-if="comment.owner.image">
          </div>
          <h4 style="margin-bottom: 0; font-weight: 300;">{{comment.owner.fullname}}</h4>
          <span class="ticketDate" style="right: 10px;">{{comment.date | date: 'short'}}</span>
          <span style="display: inline-block; color: white; line-height: 12px; border-radius: 2px; font-size: 10px; padding: 2px 4px; background: #e74c3c;" ng-if="comment.note.length > 1">NOTE</span>
          <p class="comment-text" ng-bind-html='comment.comment | sanitize' ng-if="comment.comment.length > 0"></p>
          <p class="comment-text" ng-bind-html='comment.note | sanitize' ng-if="comment.note.length > 0"></p>
          <hr class="full">
        </ion-item>
      </ion-list>

    </div>
  </ion-content>
</ion-view>
