<!DOCTYPE html>
<html>
<head>
    <title>Trudesk</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:200,400,300,600,700' rel='stylesheet' type='text/css'>
    <style type="text/css">
        html {
            overflow-x: hidden;
        }
        body {
            background: #eee;
            text-align: center;
            font-family: "Roboto", Arial, sans-serif;
        }

        .wrapper {
            width: 400px;
            height: 400px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        img {
            margin-bottom: 55px;
        }

        label {
            text-align: left
        }

        button {
            font-family: "Roboto", Arial, sans-serif;
            width: 340px;
            height: 20px;
            text-align: left;
            padding: 15px 20px;
            background: #384b5f;
            border: 1px solid #1c2937;
            font-size: 20px;
            color: #fff;
            margin-bottom: 15px;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            font-weight: 300;
        }

        button.button {
            width: 380px;
            height: auto;
            text-align: center;
            background: #e74b3b;
            border: none;
            text-transform: uppercase;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
        }

        button.button:hover {
            background: #f15849;
            cursor: pointer;
        }

        *:focus {
            outline: 0;
        }

        a {
            display: inline-block;
            padding-right: 10px;
            color: #727272;
            font-size: 14px;
            float: right;
            text-decoration: none;
            font-weight: 300;
        }

        a:hover {
            color: #A5A5A5;
        }

        ::-webkit-input-placeholder { /* WebKit browsers */
            color:    #222;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color:    #222;
            opacity:  1;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color:    #222;
            opacity:  1;
        }
        :-ms-input-placeholder { /* Internet Explorer 10+ */
            color:    #222;
        }
        h2,h4 {
            text-align: center;
            font-family: "Roboto", Arial, sans-serif;
            font-size: 150px;
            font-weight: 300;
            margin: 0;
            color: #343434;
        }
        h4 {
            font-size: 32px;
            color: #222;
        }
    </style>
</head>
<body>
<a href="/" ><img src="/img/td_3@2x.png" alt="Trudesk Logo" style="display: block; position: absolute; top: 15px; left: 15px; height: 75px" /></a>
<div class="wrapper">
    <h2>503</h2>
    <h4>Service unavailable</h4>
</div>
</body>
</html>