<div class="nopadding page-content">
    <!--Content Here-->
    <div class="uk-grid full-height scrollable" style="padding: 0 15px">
        <div class="uk-width-1-2" style="padding:25px 0 0 0;">
            <img class="uk-responsive-width" src="img/TD_Black.png" alt="">
        </div>
        <div class="uk-width-1-2" style="padding: 35px 0 0 0;">
            <h6 style="color: #55616e;">Trudesk version {{data.version}} <span style="font-size: 10px;">[beta]</span></h6>
            <p style="color: #55616e; font-size: 12px;">
                Copyright &copy;2014-2016 Chris Brame <br> <br>

                <a href="/apidocs" class="no-ajaxy" target="_blank">Trudesk API Documentation</a> <br> <br>

                Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. 
                You may obtain a copy of the License at <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">http://www.apache.org/licenses/LICENSE-2.0</a>.
                <br>
                Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS,
                WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.
            </p>
            <p style="color: #55616e; font-size: 12px;">
                Please support the project by donating. A simple cup of coffee or a good dinner goes a long ways.
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=USPWFP6P6RTKC" target="_blank">Donate</a>
            </p>
            <hr style="width: 100%; height: 1px; background: #e74c3c">
            <p style="color: #55616e; font-size: 11px; margin-bottom: 5px;">
                This software uses the following third party plugins:
            </p>
            <ul style="
                list-style:none;
                font-size: 11px;
                color: #55616e;
                padding: 0;
                margin: 0;
            ">
                <li>AngularJS - <a href="https://angularjs.org/" target="_blank">https://angularjs.org/</a></li>
                <li>Chosen - <a href="https://harvesthq.github.io/chosen/" target="_blank">https://harvesthq.github.io/chosen/</a></li>
                <li>D3 - <a href="https://d3js.org/" target="_blank">https://d3js.org/</a></li>
                <li>Datatables - <a href="https://www.datatables.net/" target="_blank">https://www.datatables.net/</a></li>
                <li>Easy Pie Chart - <a href="https://rendro.github.io/easy-pie-chart/" target="_blank">https://rendro.github.io/easy-pie-chart/</a></li>
                <li>EnjoyHint - <a href="http://xbsoftware.com/products/enjoyhint/" target="_blank">http://xbsoftware.com/products/enjoyhint/</a></li>
                <li>Flot - <a href="http://www.flotcharts.org/" target="_blank">http://www.flotcharts.org/</a></li>
                <li>UIKit - <a href="http://getuikit.com/" target="_blank">http://getuikit.com/</a></li>
                <li>History.JS - <a href="https://github.com/browserstate/history.js/" target="_blank">https://github.com/browserstate/history.js/</a></li>
                <li>jQuery - <a href="https://jquery.com/" target="_blank">https://jquery.com/</a></li>
                <li>MetricsGraphics.js - <a href="http://metricsgraphicsjs.org/" target="_blank">http://metricsgraphicsjs.org/</a></li>
                <li>Nicescroll - <a href="https://github.com/inuyaksa/jquery.nicescroll" target="_blank">https://github.com/inuyaksa/jquery.nicescroll</a></li>
                <li>PACE - <a href="http://github.hubspot.com/pace/docs/welcome/" target="_blank">http://github.hubspot.com/pace/docs/welcome/</a></li>
                <li>RequireJS - <a href="http://requirejs.org/" target="_blank">http://requirejs.org/</a></li>
                <li>Simple Color Picker - <a href="https://github.com/tkrotoff/jquery-simplecolorpicker" target="_blank">https://github.com/tkrotoff/jquery-simplecolorpicker</a></li>
                <li>Selectize.js - <a href="http://selectize.github.io/selectize.js/" target="_blank">http://selectize.github.io/selectize.js/</a></li>
                <li>Snackbar - <a href="http://www.polonel.com/snackbar" target="_blank">http://www.polonel.com/snackbar</a></li>
                <li>To Markdown - <a href="https://github.com/domchristie/to-markdown" target="_blank">https://github.com/domchristie/to-markdown</a></li>
                <li>UIKit - <a href="http://getuikit.com" target="_blank">http://getuikit.com</a></li>
                <li>Underscore - <a href="http://underscorejs.org/" target="_blank">http://underscorejs.org/</a></li>
            </ul>
        </div>
    </div>
</div>