{{#contentFor 'css'}}
    <link rel="stylesheet" href="js/plugins/fullcalendar/fullcalendar.css"/>
{{/contentFor}}

<div class="small-12 large-10 columns nopadding page-right-content">
    <div class="page-title">
        <p class="left">Calendar</p>
        <div class="right">
            <ul class="button-group">
                <li class="active"><a href="#" role="button" class="btn">Create Event</a></li>
            </ul>
        </div>
    </div>
    <!--Content Here-->
    <div class="row">
        <div class="small-12 columns">
            <div id="calendar" class="full-height scrollable"></div>
        </div>
    </div>
</div>

{{#contentFor 'js-plugins'}}

{{/contentFor}}