<div class="nopadding dashboard">
    <div class="uk-width-1-1 page-title dt-borderBottom" style="padding-left: 25px !important;">
        <p class="left">{{title}}</p>

        <div class="right clearfix" style="min-width: 250px;">
            <div style="margin-top: 8px;">
                <select id="select_timespan" name="select_timespan" data-md-selectize>
                    <option value="30" selected>Last 30 Days</option>
                    <option value="60">Last 60 Days</option>
                    <option value="90">Last 90 Days</option>
                    <option value="180">Last 180 Days</option>
                    <option value="365">Last 365 Days</option>
                    <!--<option value="0">Lifetime</option>-->
                </select>
            </div>
        </div>

        <div id="lastUpdated" class="right uk-text-muted uk-text-small" style="margin:23px 25px 0 0;">
            <strong>Last Updated:</strong>
            <span>Cache Still Loading...</span>
        </div>
    </div>
    <!--Content Here-->
    <div class="page-wrapper full-height scrollable no-overflow-x">
        <div id="page-content-inner">
            <div class="uk-grid uk-grid-medium uk-margin-medium-bottom">
                <div class="uk-width-1-3">
                    <div class="panel trupanel nopadding tru-card-intro1" style="min-height: 85px;">
                        <div class="tru-card-content">
                            <div class="right uk-margin-top uk-margin-small-right">
                                <span class="peity-bar">5,3,9,6,5,9,7</span>
                            </div>
                            <span class="uk-text-muted uk-text-small">Total Tickets (last 30d)</span>

                            <h2 class="uk-margin-remove">
                                <span id="ticketCount">--</span>
                            </h2>
                        </div>

                    </div>
                </div>
                <div class="uk-width-1-3">
                    <div class="panel trupanel nopadding tru-card-intro1" style="min-height: 85px;">
                        <div class="tru-card-content">
                            <div class="right uk-margin-top ukmargin-small-right">
                                <span id="pie_complete" class="peity-pie">0/100</span>
                            </div>
                            <span class="uk-text-muted uk-text-small">Tickets Completed</span>

                            <h2 class="uk-margin-remove">
                                <span id="text_complete">--</span>%
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3">
                    <div class="panel trupanel nopadding tru-card-intro1" style="min-height: 85px;">
                        <div class="tru-card-content">
                            <div class="right uk-margin-top ukmargin-small-right">
                                <span id="responseTime_graph" class="peity-line">5,3,9,6,5,9,7,3,5,2</span>
                            </div>
                            <span class="uk-text-muted uk-text-small">Avg Response Time</span>

                            <h2 class="uk-margin-remove">
                                <span id="responseTime_text">--</span> hours
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="breakdown-wrap uk-margin-medium-bottom">
                <div class="panel trupanel nopadding no-hover-shadow" style="min-height: 300px;">
                    <div class="left">
                        <h6 style="padding: 15px; margin: 0; font-size: 14px;">Ticket Breakdown</h6>
                    </div>
                    <div class="right" style="position:relative;">
                        <!--<button class="action-link"><i class="material-icons">refresh</i></button>-->
                        <!--<div class="right" data-uk-dropdown="{pos: 'bottom-right'}" aria-haspopup="true"-->
                             <!--aria-expanded="false">-->
                            <!--<button class="action-link"><i class="material-icons">more_vert</i></button>-->
                            <!--<div class="uk-dropdown uk-dropdown-small uk-dropdown-bottom">-->
                                <!--<ul class="uk-nav">-->
                                    <!--<li><a href="/tickets">This is a Link</a></li>-->
                                    <!--<li><a href="#">This is a Link</a></li>-->
                                    <!--<li><a href="#">This is a Link</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->

                        <!--</div>-->
                    </div>
                    <hr class="nomargin-top">
                    <div class="panel-body2 uk-clearfix">
                        <div id="breakdownGraph" class="mGraph mGraph-panel" style="min-height: 200px; position: relative;">

                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-grid uk-margin-small-bottom">
                <div class="uk-width-1-2">
                    <div class="panel trupanel nopadding" style="position: relative; min-height: 265px;" data-match-height=".dash-tags">
                        <h6 style="padding: 15px; margin: 0; font-size: 14px;">Top 5 Groups</h6>
                        <hr class="nomargin">
                        <div class="card-spinner">
                            <div class="spinner"></div>
                        </div>
                        <div id="pieChart"></div>
                    </div>
                </div>
                <div class="uk-width-1-2 dash-tags">
                    <div class="panel trupanel nopadding" style="position: relative; min-height: 265px;">
                        <h6 style="padding: 15px; margin: 0; font-size: 14px;">Top 10 Tags</h6>
                        <hr class="nomargin">
                        <div class="card-spinner">
                            <div class="spinner"></div>
                        </div>
                        <div class="" style="padding: 10px;">
                            <div id="topTenTags" style="width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-grid uk-margin-medium-bottom">
                <div id="__showOverdueTickets" class="hide uk-hidden">{{data.common.showOverdue}}</div>
                {{#if data.common.showOverdue}}
                    <div class="uk-width-1-2">
                        <div class="uk-grid" data-uk-grid-margin data-uk-grid-match="{target:'.tru-card-content'}">
                            <div class="uk-width-medium-1-1">
                                <div id="overdue_tickets" class="tru-card tru-card-hover" style="position: relative; min-height: 245px;">
                                    <h6 style="padding: 15px; margin: 0; font-size: 14px;">Overdue Tickets</h6>
                                    <hr class="nomargin">
                                    <div class="card-spinner">
                                        <div class="spinner"></div>
                                    </div>
                                    <div id="overdueTickets" class="tru-card-content">
                                        <div class="uk-overflow-container">
                                            <table class="uk-table">
                                                <thead>
                                                <tr>
                                                    <th class="uk-text-nowrap">Ticket</th>
                                                    <th class="uk-text-nowrap">Status</th>
                                                    <th class="uk-text-nowrap">Subject</th>
                                                    <th class="uk-text-nowrap uk-text-right">Last Updated</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/if}}
                <div class="uk-width-1-2">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-1-1">
                            <div class="tru-card tru-card-hover" data-match-height="#overdue_tickets2">
                                <h6 style="padding: 15px; margin: 0; font-size: 14px;">Quick Stats (Last 365 Days)</h6>
                                <hr class="nomargin">
                                <div class="tru-card-content">
                                    <div class="uk-overflow-container">
                                        <table class="uk-table">
                                            <thead>
                                            <tr>
                                                <th class="uk-text-nowrap">Stat</th>
                                                <th class="uk-text-nowrap uk-text-right">Value</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            <tr class="uk-table-middle">
                                                <td class="uk-width-6-10 uk-text-nowrap uk-text-muted uk-text-small">Most tickets by...</td>
                                                <td id="mostRequester" class="uk-width-4-10 uk-text-right  uk-text-small">--</td>
                                            </tr>

                                            <tr class="uk-table-middle">
                                                <td class="uk-width-6-10 uk-text-nowrap uk-text-muted uk-text-small">Most comments by....</td>
                                                <td id="mostCommenter" class="uk-width-4-10 uk-text-right  uk-text-small">--</td>
                                            </tr>

                                            <tr class="uk-table-middle">
                                                <td class="uk-width-6-10 uk-text-nowrap uk-text-muted uk-text-small">Most assigned support user....</td>
                                                <td id="mostAssignee" class="uk-width-4-10 uk-text-right  uk-text-small">--</td>
                                            </tr>

                                            <tr class="uk-table-middle">
                                                <td class="uk-width-6-10 uk-text-nowrap uk-text-muted uk-text-small">Most active ticket...</td>
                                                <td class="uk-width-4-10 uk-text-right  uk-text-small"><a id="mostActiveTicket" href="#">--</a></td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{{#contentFor 'js-plugins'}}

{{/contentFor}}