<div class="page-content no-border-top full-height" ng-controller="editorController" ng-init="template='{{data.template}}';" >
    <div id="web-editor"></div>
    <div id="web-editor-invalid-notification" class="full-height hide">
        <h2 style="width: 100%; text-align: center; position: absolute; top: 50%; left: 50%; margin: 0 0 0 -50%;"
            class="uk-text-muted font-light">404: Invalid Template. Redirecting...</h2>
    </div>
</div>