<!DOCTYPE html>
<html>
<head>
    <title>Trudesk &middot; {{{title}}}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <style type="text/css">
        html {
            overflow-x: hidden;
        }
        body {
            background: #223140;
            text-align: center;
            font-family: "Open Sans", Arial, sans-serif;
        }

        .wrapper {
            width: 400px;
            height: 370px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -185px 0 0 -200px;
        }

        img {
            margin-bottom: 55px;
        }

        input,
        button {
            font-family: "Open Sans", Arial, sans-serif;
            width: 340px;
            height: 20px;
            text-align: left;
            padding: 15px 20px;
            background: #384b5f;
            border: 1px solid #1c2937;
            font-size: 20px;
            color: #fff;
            margin-bottom: 15px;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            font-weight: 300;
        }

        input.button,
        button.button {
            width: 380px;
            height: auto;
            text-align: center;
            background: #e74b3b;
            border: none;
            text-transform: uppercase;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
        }

        input.button:hover,
        button.button:hover {
            background: #f15849;
            cursor: pointer;
        }

        *:focus {
            outline: 0;
        }

        a {
            display: inline-block;
            padding-right: 10px;
            color: #879eb7;
            font-size: 14px;
            float: right;
            text-decoration: none;
            font-weight: 300;
        }

        a:hover {
            color: white;
        }

        ::-webkit-input-placeholder { /* WebKit browsers */
            color:    #6a7b8c;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color:    #6a7b8c;
            opacity:  1;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color:    #6a7b8c;
            opacity:  1;
        }
        :-ms-input-placeholder { /* Internet Explorer 10+ */
            color:    #6a7b8c;
        }

        .alert-message {
            padding: 5px 0;
            margin-top: -55px;
            width: 380px;
            height: 40px;
            margin-bottom: 50px;
            background: #e73c3c;
            text-align: center;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -o-border-radius: 5px;
        }

        .alert-message p {
            margin-top: 8px;
            margin-bottom: 0;
            color: white;
            font-weight: 300;
        }

        button.button.noCap {
            text-transform: none;
        }

        .hide {
            display: none;
        }

        .green {
            background: #29b955;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div class="alert-message {{#if flash}} {{else}} hide {{/if}}">
        <p class="message">{{{flash}}}</p>
    </div>
    <img src="/img/logoLarge.png" alt="Trudesk Logo" /> <br />
    <div class="loginForm">
        <form method="post" action="/login">
            <input id="login-username" name="login-username" type="text" placeholder="Username" />
            <input id="login-password" name="login-password" type="password" placeholder="Password" />
            <button class="button" type="submit">Login</button>
        </form>

        <a id="forgotPass" href="#">Forgot your password?</a>
    </div>
    <div class="forgotPassForm" style="display: none;">
        <form id="forgotPassForm" method="post" action="/">
            <input id="forgotPass-email" name="forgotPass-email" type="text" placeholder="Email" />
            <!--<input id="login-password" name="login-password" type="password" placeholder="Password" />-->
            <button class="button noCap" type="submit">Forgot Password</button>
        </form>

        <a id="backToLogin" href="#">Back to Login</a>
    </div>
</div>

<script src="/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript">
    $('#forgotPass').click(function(e) {
        e.preventDefault();
        $('.loginForm').fadeOut(100, function() {
            $('.forgotPassForm').fadeIn();
        });

    });

    $('#backToLogin').click(function(e) {
        e.preventDefault();
        $('.forgotPassForm').fadeOut(100, function() {
            $('.loginForm').fadeIn();
        })
    });

    $('#forgotPassForm').submit(function(e) {
        e.preventDefault();
        var self = $(this);
        var alertMessage = $('.alert-message');
        $.ajax({
            type: 'POST',
            url: '/forgotpass',
            data: self.serialize(),
            async: true,
            success: function(data) {
                alertMessage.removeClass('hide')
                        .addClass('green')
                        .find('.message')
                        .html('Password Reset Email Sent!');

                $('#forgotPass-email').val('');

                $('.forgotPassForm').fadeOut(100, function() {
                    $('.loginForm').fadeIn();
                })
            },

            error: function(xhr, ajaxOptions, thrownError) {
                alertMessage.removeClass('hide')
                        .find('.message')
                        .html(xhr.responseText);
            }
        });

        return false;
    });
</script>
</body>
</html>