<div class="nopadding plugins" ng-controller="pluginsCtrl" ng-init="
    installedPlugins='{{data.plugins.installed}}';

    init();
">
    <div class="uk-width-1-1 page-title" style="padding-left: 25px !important;">
        <p class="left">{{title}}</p>
    </div>
    <!--Content Here-->
    <div class="page-wrapper full-height scrollable no-overflow-x">
        <div id="page-content-inner" style="padding-bottom: 0 !important;">

            {{#canUser data.common.loggedInAccount 'plugins:manage'}}
                <div class="breakdown-wrap uk-margin-small-bottom">
                    <div class="panel trupanel nopadding no-hover-shadow" style="min-height: 700px;">
                        <div class="left">
                            <h6 style="padding: 15px; margin: 0; font-size: 14px;">Install New Plugin</h6>
                        </div>
                        <div class="right" style="position:relative;">
                            <div class="md-input-wrapper uk-position-relative" style="margin-right: 15px; width: 224px;">

                                <input type="text" class="md-input uk-margin-remove" id="search_plugin_list" style="padding-bottom: 5px !important; width: 200px;"/>

                                <div class="md-input-bar"></div>
                                <i class="material-icons search-icon" style="color: #ccc !important; top: 13px;">search</i>
                            </div>
                        </div>
                        <hr class="nomargin-top clear">
                        <div class="panel-body2">
                            <div id="plugin_list" class="">
                                <table id="plugin_list_table" class="uk-table uk-table-hover uk-table-striped cursor-pointer">
                                    <thead>
                                    <tr>
                                        <th style="border-bottom-width: 1px;">Name</th>
                                        <th style="border-bottom-width: 1px;">Description</th>
                                        <th style="border-bottom-width: 1px;">Version</th>
                                        <th style="border-bottom-width: 1px;"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td style="vertical-align: middle;">Loading Plugins...</td>
                                        <td style="vertical-align: middle;"></td>
                                        <td style="vertical-align: middle;"></td>
                                        <td style="text-align: right;"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="plugin-tether panel tru-card" style="width: 200px;">
                    <div class="tru-card-content" style="position:relative; padding-left: 30px; padding-top: 12px;">
                        <i class="material-icons" style="position: absolute; top: 10px; left: 0;">keyboard_arrow_left</i>
                        <h5 style="margin: 0 0 10px 0; padding: 0;">Installed Plugins</h5>
                        <p>If you have permissions to access the plugins, they will display to the left in the sidebar.</p>
                    </div>
                </div>
            {{/canUser}}
        </div>
    </div>
</div>

{{#contentFor 'js-plugins'}}

{{/contentFor}}