<!DOCTYPE html>
<html>
<head>
    <title>Helpdesk &middot; {{{title}}}</title>
    <link rel="stylesheet" href="/css/plugins.min.css">
    <link rel="stylesheet" href="/css/app.min.css">
    <style type="text/css">
        html {
            overflow-x: hidden;
            height: 100%;
            font: 400 14px/20px "Roboto", Arial, sans-serif;
        }
        body {
            background: #eee;
            text-align: center;
            font-family: "Roboto", Arial, sans-serif;
            height: 100%;
            -webkit-font-smoothing: subpixel-antialiased;
        }

        .wrapper,
        #privacyPolicySlide {
            width: 400px;
            height: auto;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50.111%);
            -webkit-transform: translate(-50%, -50.111%);
            padding: 15px 0;
        }

        #privacyPolicySlide {
            width: 75%;
            text-align: left;
            height: auto;
        }

        .white-box {
            height: 500px;
            background: #f6f6f6;
            border: 1px solid #ccc;
            color: #222;
            padding: 15px;
            overflow: auto;
        }

        h2 {
            color: #444;
        }

        p {
            font-family: "Roboto", Arial, sans-serif;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #272727;
            text-rendering: auto;
        }

        img {
            margin-bottom: 55px;
        }

        label {
            text-align: left
        }

        button:not('.action') {
            font-family: "Roboto", Arial, sans-serif;
            width: 340px;
            height: 20px;
            text-align: left;
            padding: 15px 20px;
            background: #384b5f;
            border: 1px solid #1c2937;
            font-size: 20px;
            color: #fff;
            margin-bottom: 15px;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            font-weight: 300;
        }

        button.button {
            width: 380px;
            height: auto;
            text-align: center;
            background: #e74b3b;
            border: none;
            text-transform: uppercase;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
        }

        button.button:hover {
            background: #f15849;
            cursor: pointer;
        }

        *:focus {
            outline: 0;
        }

        a {
            display: inline-block;
            padding-right: 10px;
            color: #727272;
            font-size: 14px;
            float: right;
            text-decoration: none;
            font-weight: 300;
        }

        a:hover {
            color: #A5A5A5;
        }

        ::-webkit-input-placeholder { /* WebKit browsers */
            color:    #222;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color:    #222;
            opacity:  1;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color:    #222;
            opacity:  1;
        }
        :-ms-input-placeholder { /* Internet Explorer 10+ */
            color:    #222;
        }

        .alert-message p {
            margin-top: 8px;
            margin-bottom: 0;
            color: white;
            font-weight: 300;
            text-align: center;
        }

        button.button.noCap {
            text-transform: none;
        }

        .hide {
            display: none;
        }

        .green {
            background: #29b955;
        }

        .md-input-bar:before,
        .md-input-bar:after {
            background: #2196f3 !important;
        }

        .btn {
            width: 100%;
            height: 50px;
            margin-bottom: 24px !important;
            /*color: #E74C3C;*/
        }

        .btn:hover, .btn:active, .btn:focus {
            /*color: #222;*/
        }

        #logosvg {
            position: absolute;
            top: 35px;
            left: 35px;
        }

        .l1 {
            stroke-dasharray: 290;
            stroke-dashoffset: 290;
            animation: line 0.8s infinite ease-in-out;
            -webkit-animation: line 0.8s infinite ease-in-out;
        }

        @keyframes line {
            0% {
                stroke-dashoffset: 290;
            }
            50% {
                stroke-dashoffset: 0;
            }
            100% {
                stroke-dashoffset: -290;
            }
        }
        .loader {
            height: 75px;
            width: 100%;
        }
        .loader:before {
            content: '';
            padding-top: 50px !important;
        }
        .loader svg {
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        .loader svg line {
            stroke: #000;
            stroke-width: 5;
            stroke-linecap: round;
        }
    </style>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/vendor.js"></script>
    <script src="/js/truRequire.js"></script>
</head>
<body>
    
<div class="wrapper">
    <div class="slides">
        <div class="slide">
            <h2 style="margin-bottom: 18px;">New Issue</h2>
            <p style="text-align: left;">
                This wizard will walk you through the process of submitting a new issue.
            </p>

            <button class="btn md-btn md-btn-wave md-btn-success" data-next>Lets Get Started</button>
        </div>

        <div id="userInfoSlide" class="slide hide">
            <h2 style="margin-bottom: 25px;">User Information</h2>
            <p style="text-align: left;">
                We need to know how to store your request. Please give us a little information about you.
            </p>
            <form id="userInfo" class="uk-form-stacked uk-clearfix">
                <div class="uk-margin-medium-bottom">
                    <label for="user-fullname">Full Name</label>
                    <input id="user-fullname" name="user-fullname" class="md-input" type="text" required />
                </div>
                <div class="uk-margin-medium-bottom">
                    <label for="user-email">Email</label>
                    <input id="user-email" name="user-email" class="md-input" type="email" required />
                </div>
                <div class="uk-margin-medium-bottom">
                    <div id="captchaImage" style="margin-bottom: 10px;"></div>
                    <label for="captcha">Please enter the letters you see above.</label>
                    <input id="captcha" name="captcha" class="md-input" type="text" required />
                </div>
                <div style="width: 25%; float: left;">
                    <button class="btn md-btn md-btn-wave md-btn-primary1" type="button" data-prev>Back</button>
                </div>
                <div style="width: 70%; float: right;">
                    <button id="checkEmail" class="btn md-btn md-btn-wave md-btn-success" type="button">Next</button>
                </div>
            </form>

            <a href="#" class="no-ajaxy" id="privacyPolicyBtn">Privacy Policy</a>
        </div>
        <div class="slide hide">
            <h2 style="margin-bottom: 25px;">Issue</h2>
            <p style="text-align: left; margin-bottom: 25px;">
                Please tell us about the issue you're having.
                Remember to be as detailed as possible to ensure its resolved promptly.
            </p>

            <form id="adminAccount" class="uk-form-stacked uk-clearfix">
                <div class="uk-margin-medium-bottom">
                    <label for="ticket-subject">Subject</label>
                    <input type="text" id="ticket-subject" name="ticket-subject" class="md-input" required />
                </div>
                <div class="uk-margin-medium-bottom">
                    <label for="ticket-issue">Issue</label>
                    <textarea name="ticket-issue" id="ticket-issue" cols="30" rows="10" class="md-input" required></textarea>
                </div>

                <div style="width: 25%; float: left;">
                    <button class="btn md-btn md-btn-wave md-btn-primary1" type="button" data-prev>Back</button>
                </div>
                <div style="width: 70%; float: right;">
                    <button class="btn md-btn md-btn-wave md-btn-success" type="button" id="submit-issue">Submit Issue</button>
                </div>
            </form>
        </div>
        <div class="slide hide">
            <h2 style="margin-bottom: 25px;">Creating Issue...</h2>
            <p style="text-align: left;">Thank you for submitting your issue. An email has been sent to you with login details to view and create future tickets.</p>
            <div class="loader">
                <svg style="width: 140px; " viewBox="0 0 288.9 70.1">
                    <line class="l1" x1="0" y1="0" x2="288" y2="0"></line>
                </svg>
            </div>
        </div>
        <div id="restartSlide" class="slide hide">
            <h2 style="margin-bottom: 25px;">Time to Restart</h2>
            <p style="text-align: left;"><i>So here we are, together sharpening a knife.</i> Service needs to restart to come out of install mode. Just restart it and you should get a login screen. (hopefully)!</p>
            <button class="btn md-btn md-btn-wave" type="button" id="restartTrudesk">restart me!</button>
        </div>
        <div id="errorSlide" class="slide hide">
            <h2 style="margin-bottom: 25px;">Crap! Something funky happened.</h2>
            <p style="text-align: justify;">
                Alright. This entire install script is in <i>beta</i>. Didn't I mention that? Anyway, there are a couple of options below to try and resolve the issue. There are some common pit falls and workarounds
                in the docs that may help. Submitting the issue will help identify any bugs in the script and will help others as well.
            </p>
            <pre style="text-align: left; font-size: 11px; font-weight: normal; margin-bottom: 15px;"></pre>
            <div style="width: 100%;">
                <a href="https://www.github.com/polonel/trudesk/issues/new" target="_blank" style="width: 100%; padding: 0; margin: 0;">
                    <button class="btn md-btn md-btn-wave md-btn-danger" type="button" style="width: 100%; margin-bottom: 10px !important;">I think I should submit this issue.</button>
                </a>
                <button class="btn md-btn md-btn-wave md-btn-success" type="button" style="width: 100%; margin-bottom: 10px !important;" onclick="location.reload();">I think i will start over.</button>
                <a href="https://github.com/polonel/trudesk/blob/master/README.md" target="_blank" style="width: 100%; padding: 0; margin: 0;">
                    <button class="btn md-btn md-btn-wave" type="button" style="width: 100%; margin-bottom: 10px !important;">or maybe i should read the docs!</button>
                </a>
            </div>
        </div>
        <div id="emailExistsSlide" class="slide hide">
            <h2 style="margin-bottom: 25px;">Email Already Exists</h2>
            <p style="text-align: justify;">
                The email <span id="emailSpan" style="font-weight: bold;">email@email.com</span> already exists. If you already have an account using this email please login and submit your ticket.
            </p>
            <div style="width: 100%; margin-top: 50px;">
                <a href="/login" class="no-ajaxy" style="width: 100%; padding: 0; margin: 0;">
                    <button class="btn md-btn md-btn-wave md-btn-primary" type="button" style="width: 100%; margin-bottom: 10px !important;">Login</button>
                </a>
                <button class="btn md-btn md-btn-wave" type="button" style="width: 100%; margin-bottom: 10px !important;" onclick="location.reload();">Start Over</button>
            </div>
        </div>
        <div id="ticketCreatedSlide" class="slide hide">
            <h2 style="margin-bottom: 25px; text-align: left;">Thank you <span id="spanfullname" style="color: #2196f3;">[fullname]</span>,</h2>
            <p style="text-align: justify;">
                Your issue, <strong id="strongSubject">[Subject]</strong> has been submitted. Please store the following information to access and update your ticket.
            </p>
            <p style="text-align: left;">
                Username: <strong id="strongUsername">[Username]</strong> <br>
                Password: <strong id="strongPassword">[Password]</strong>
            </p>
            <p style="text-align: justify;">
                Please follow the link below in order to login and update or view the current status of this issue.
            </p>
            <div style="width: 100%; margin-top: 50px;">
                <a href="/login" class="no-ajaxy" style="width: 100%; padding: 0; margin: 0;">
                    <button class="btn md-btn md-btn-wave md-btn-primary" type="button" style="width: 100%; margin-bottom: 10px !important;">Login</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="privacyPolicySlide" class="hide">
    <div class="white-box" style="margin-bottom: 15px;">
        {{{data.privacyPolicy}}}
    </div>
    <button id="privacyPolicyBackBtn" class="btn md-btn md-btn-wave md-btn-primary" type="button" style="width: 100%; margin-bottom: 10px !important;">Back</button>
</div>


<script type="text/javascript">
    window.truRequire(['jquery', 'snackbar', 'helpers'], function(loadedModules) {
        var $ = loadedModules[0];
        window.Snackbar = loadedModules[1];
        var helpers = loadedModules[2];

        $(document).ready(function() {
            helpers.init();
            getCaptcha();
            var $slides = $('.slides > .slide');
            var totalSlides = 0;
            var activeSlide = 0;
            $slides.each(function(idx) {
                $(this).addClass('slide-' + idx);
                if (idx === 0)
                    $(this).addClass('activeSlide');
                else
                    $(this).addClass('hide');

                totalSlides++;
            });


            function getCaptcha() {
                $.ajax({
                    method: 'GET',
                    url: '/captcha',
                    success: function(response) {
                        var svg = $(response).find('svg');
                        $('#captchaImage').append(svg);
                    },
                    error: function(err) {
                        console.error(err);
                    }
                });
            }

            function isDoubleClicked(element) {
                //if already clicked return TRUE to indicate this click is not allowed
                if (element.data("isclicked")) return true;

                //mark as clicked for 1 second
                element.data("isclicked", true);
                setTimeout(function () {
                    element.removeData("isclicked");
                }, 1000);

                //return FALSE to indicate this click was allowed
                return false;
            }

            $('button[data-next]').click(function() {
                if (isDoubleClicked($(this))) return;
                advanceSlide();
            });

            $('button[data-prev]').click(function() {
                if (isDoubleClicked($(this))) return;
                var prevSlideIdx = activeSlide - 1;
                var prevSlide = $('.slide-' + prevSlideIdx);
                if (prevSlide.length > 0) {
                    $(this).parents('.slide').fadeOut(300, function() {
                        prevSlide.css({display: 'none'}).removeClass('hide');
                        $(this).addClass('hide').removeClass('activeSlide');
                        prevSlide.fadeIn(300, function() {
                            prevSlide.addClass('activeSlide');
                        });
                    });

                    activeSlide--;
                }
            });

            var userInfo = undefined;
            var ticket = undefined;

            $('button#checkEmail').click(function() {
                if (isDoubleClicked($(this))) return;
                var userInfoFormData = $('form#userInfo').serializeObject();
                var $emailField, $fullnameField;
                var $emailValid = false, $fullnameValid = false;

                if (!userInfoFormData['user-email'] || !validateEmail(userInfoFormData['user-email'])) {
                    $emailField = $('form#userInfo').find('input#user-email');
                    $emailField.parent('.md-input-wrapper').addClass('has-error');
                    $emailField.parent('.md-input-wrapper').find('.md-input-bar').addClass('bottom-fix error-color');
                    $emailField.addClass('uk-form-danger');
                } else {
                    $emailField = $('form#userInfo').find('input#user-email');
                    $emailField.parent('.md-input-wrapper').removeClass('has-error');
                    $emailField.parent('.md-input-wrapper').find('.md-input-bar').removeClass('bottom-fix error-color');
                    $emailField.removeClass('uk-form-danger');

                    $emailValid = true;
                }

                if (!userInfoFormData['user-fullname'] || (userInfoFormData['user-fullname'].length < 5)) {
                    $fullnameField = $('form#userInfo').find('input#user-fullname');
                    $fullnameField.parent('.md-input-wrapper').addClass('has-error');
                    $fullnameField.parent('.md-input-wrapper').find('.md-input-bar').addClass('bottom-fix error-color');
                    $fullnameField.addClass('uk-form-danger');
                } else {
                    $fullnameField = $('form#userInfo').find('input#user-fullname');
                    $fullnameField.parent('.md-input-wrapper').removeClass('has-error');
                    $fullnameField.parent('.md-input-wrapper').find('.md-input-bar').removeClass('bottom-fix error-color');
                    $fullnameField.removeClass('uk-form-danger');

                    $fullnameValid = true;
                }

                if (!$fullnameValid || !$emailValid)
                    return false;

                var $checkEmailBtn = $(this);
                $checkEmailBtn.prop('disabled', true).text('Validating...');
                $.ajax({
                    method: 'POST',
                    url: '/api/v1/public/users/checkemail',
                    data: {
                        email: userInfoFormData['user-email'],
                        captcha: $('#captcha').val()
                    },
                    error: function(e) {
                        $checkEmailBtn.prop('disabled', false).text('Next');
                        window.Snackbar.show({
                            text: 'An Error occurred. Check Captcha.',
                            actionTextColor: 'red'
                        });

                        console.error(e);
                    },
                    success: function(data) {
                        $checkEmailBtn.prop('disabled', false).text('Next');
                        if (!data.success) {
                            $checkEmailBtn.prop('disabled', false).text('Next');
                            window.Snackbar.show({
                                text: 'An Error occurred.',
                                actionTextColor: 'red'
                            });
                        } else {
                            if (data.exist) {
                                //Email already Exist
                                //Show email exists slide
                                var $active = $('.activeSlide');
                                var errorSlide = $('#emailExistsSlide');
                                if (errorSlide.length > 0) {
                                    $('span#emailSpan').text(userInfoFormData['user-email']);
                                    $active.fadeOut(300, function() {
                                        errorSlide.css({display: 'none'}).removeClass('hide');
                                        $(this).addClass('hide').removeClass('activeSlide');
                                        errorSlide.fadeIn(300, function() {
                                            errorSlide.addClass('activeSlide');
                                        });
                                    });
                                    activeSlide++;
                                }
                            } else {
                                userInfo = {
                                    'fullname': userInfoFormData['user-fullname'],
                                    'email': userInfoFormData['user-email']
                                };

                                //Reset Error Classes
                                $emailField = $('form#userInfo').find('input#user-email');
                                $emailField.parent('.md-input-wrapper').removeClass('has-error');
                                $emailField.parent('.md-input-wrapper').find('.md-input-bar').removeClass('bottom-fix error-color');
                                $emailField.removeClass('uk-form-danger');
                                $fullnameField = $('form#userInfo').find('input#user-fullname');
                                $fullnameField.parent('.md-input-wrapper').removeClass('has-error');
                                $fullnameField.parent('.md-input-wrapper').find('.md-input-bar').removeClass('bottom-fix error-color');
                                $fullnameField.removeClass('uk-form-danger');

                                advanceSlide();
                            }
                        }
                    }
                });
            });

            function advanceSlide() {
                var $active = $('.activeSlide');
                var nextSlideIdx = activeSlide + 1;
                var nextSlide = $('.slide-' + nextSlideIdx);
                if (nextSlide.length > 0) {
                    $active.fadeOut(300, function() {
                        $(this).addClass('hide').removeClass('activeSlide');
                        nextSlide.css({display: 'none'}).removeClass('hide');
                        nextSlide.fadeIn(300, function() {
                            nextSlide.addClass('activeSlide');
                        });
                    });

                    activeSlide++;
                }
            }

            $('button#submit-issue').click(function() {
                if (isDoubleClicked($(this))) return;

                var adminInfoFormData = $('form#adminAccount').serializeObject();
                var $subjectField, $issueField;
                var $subjectValid = false, $issueValid = false;

                if (!adminInfoFormData['ticket-subject'] || (adminInfoFormData['ticket-subject'].length < 5)) {
                    $subjectField = $('form#adminAccount').find('input#ticket-subject');
                    $subjectField.parent('.md-input-wrapper').addClass('has-error');
                    $subjectField.parent('.md-input-wrapper').find('.md-input-bar').addClass('bottom-fix error-color');
                    $subjectField.addClass('uk-form-danger');
                } else {
                    $subjectField = $('form#adminAccount').find('input#ticket-subject');
                    $subjectField.parent('.md-input-wrapper').removeClass('has-error');
                    $subjectField.parent('.md-input-wrapper').find('.md-input-bar').removeClass('bottom-fix error-color');
                    $subjectField.removeClass('uk-form-danger');

                    $subjectValid = true;
                }

                if (!adminInfoFormData['ticket-issue'] || (adminInfoFormData['ticket-issue'].length < 10)) {
                    $issueField = $('form#adminAccount').find('textarea#ticket-issue');
                    $issueField.parent('.md-input-wrapper').addClass('has-error');
                    $issueField.parent('.md-input-wrapper').find('.md-input-bar').addClass('bottom-fix error-color');
                    $issueField.addClass('uk-form-danger');
                } else {
                    $issueField = $('form#adminAccount').find('textarea#ticket-issue');
                    $issueField.parent('.md-input-wrapper').removeClass('has-error');
                    $issueField.parent('.md-input-wrapper').find('.md-input-bar').removeClass('bottom-fix error-color');
                    $issueField.removeClass('uk-form-danger');

                    $issueValid = true;
                }

                if (!$subjectValid || !$issueValid)
                    return false;

                ticket = {
                    subject: adminInfoFormData['ticket-subject'],
                    issue: adminInfoFormData['ticket-issue']
                };

                advanceSlide();

                //Send the install POST wait for Response...
                setTimeout(function() {
                    sendIssue();
                }, 1500);
            });

            $('a#privacyPolicyBtn').click(function() {
                if (isDoubleClicked($(this))) return;

                showPrivacyPolicy();
            });

            $('button#privacyPolicyBackBtn').click(function() {
                if (isDoubleClicked($(this))) return;

                var privacyPolicySlide = $('#privacyPolicySlide');
                if (privacyPolicySlide.length > 0) {
                    privacyPolicySlide.fadeOut(300, function() {
                        privacyPolicySlide.addClass('hide');

                        var userInfoSlide = $('#userInfoSlide');
                        userInfoSlide.removeClass('hide');
                        userInfoSlide.fadeIn(300, function() {
                            userInfoSlide.addClass('activeSlide');
                        });
                    });

                    activeSlide = 1;
                }
            });

            function showPrivacyPolicy() {
                //Show Ticket Created Slide
                var $active = $('.activeSlide');
                var privacyPolicySlide = $('#privacyPolicySlide');
                if (privacyPolicySlide.length > 0) {
                    //$('span#emailSpan').text(userInfoFormData['user-email']);
                    $active.fadeOut(300, function() {
                        privacyPolicySlide.css({display: 'none'}).removeClass('hide');
                        $(this).addClass('hide');
                        privacyPolicySlide.fadeIn(300, function() {

                        });
                    });
                }
            }

            function showTicketCreated() {
                //Show Ticket Created Slide
                var $active = $('.activeSlide');
                var ticketCreatedSlide = $('#ticketCreatedSlide');
                if (ticketCreatedSlide.length > 0) {
                    //$('span#emailSpan').text(userInfoFormData['user-email']);
                    $active.fadeOut(300, function() {
                        ticketCreatedSlide.css({display: 'none'}).removeClass('hide');
                        $(this).addClass('hide').removeClass('activeSlide');
                        ticketCreatedSlide.fadeIn(300, function() {
                            ticketCreatedSlide.addClass('activeSlide');
                        });
                    });
                    activeSlide++;
                }
            }

            function sendIssue() {
                var d = {
                    user: userInfo,
                    ticket: ticket,
                    captcha: $('#captcha').val()
                };
                $.ajax({
                    method: 'POST',
                    url: '/api/v1/public/tickets/create',
                    data: JSON.stringify(d),
                    contentType: 'application/json',
                    success: function(response) {
                        if (!response.success) {
                            //TODO: Show Error Slide
                        } else {
                            //console.log(response);
                            $('span#spanfullname').text(userInfo.fullname);
                            $('strong#strongSubject').text(ticket.subject);
                            $('strong#strongUsername').text(userInfo.email);
                            $('strong#strongPassword').text(response.userData.chancepass);

                            showTicketCreated();
                        }
                    },
                    error: function(err) {
                        console.error(err);
                    }
                })
            }

            function validateEmail(email) {
                var mailFormat = /^\w+([.-]\w+)*@\w+([.-]\w+)*(\.\w+)+$/;
                return email.match(mailFormat);
            }

            $.fn.serializeObject = function(){
                var obj = {};

                $.each( this.serializeArray(), function(i,o){
                    var n = o.name,
                            v = o.value;

                    obj[n] = obj[n] === undefined ? v
                            : $.isArray( obj[n] ) ? obj[n].concat( v )
                            : [ obj[n], v ];
                });

                return obj;
            };


        });
    });
</script>
</body>
</html>