<div class="uk-modal" id="createPriorityModal" ng-controller="settingsCtrl">
    <div class="uk-modal-dialog">
        <form class="uk-form-stacked" id="createPriorityForm" action="#" method="POST" ng-submit="createPrioritySubmit($event);">
            <div class="uk-margin-medium-bottom uk-clearfix">
                <h2 class="">Create Priority</h2>
                <span></span>
            </div>

            <div class="">
                <div class="uk-clearfix">
                    <form>
                        <div class="z-box uk-grid uk-grid-collapse uk-clearfix">
                            <div class="uk-width-1-3">
                                <label for="">Priority Name</label>
                                <input type="text" class="md-input" name="p-name"
                                       data-validation="length"
                                       data-validation-length="min3"
                                       data-validation-error-msg="Invalid name (at least 3 characters)"
                                />
                            </div>
                            <div class="uk-width-1-3 uk-padding-small-sides">
                                <label for="">SLA Overdue (minutes)</label>
                                <input type="text" class="md-input" name="p-overdueIn" value="2880"
                                       data-validation="number"
                                       data-validation-allowing="range[1;525600]"
                                       data-validation-error-msg="Invalid SLA Time (1-525600)"
                                />
                            </div>
                            <div class="uk-width-1-3">
                                <button class="generateHtmlColorBtn uk-button uk-button-small uk-color-button mr-5 mt-10" style="background: #29B955; " ng-click="generateRandomColor(null, $event);"><i class="material-icons">refresh</i></button>
                                <div class="md-input-wrapper uk-float-left" style="width: 70%;">
                                    <label for="">Color</label>
                                    <input type="text" class="md-input" name="p-htmlColor" value="#29B955"
                                           data-validation="custom" data-validation-regexp="^\#([0-9a-fA-F]){3,6}$"
                                           data-validation-error-msg="Invalid HEX Color"
                                    />
                                    <span class="md-input-bar"></span>
                                </div>
                            </div>
                        </div>
                        <div class="uk-modal-footer uk-text-right">
                            <button type="button" class="md-btn md-btn-flat uk-modal-close">Close</button>
                            <button type="submit" class="md-btn md-btn-flat md-btn-flat-success">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>