<div class="sidebar nopadding " style="{{#if data.common.notice}}top: 105px;{{/if}} overflow-x: hidden;" data-scroll-opacitymax="0.1">
    <div class="side-nav-container" style="min-height: calc(100% - 50px);">
        <div id="side-nav"></div>
    </div>
    <div class="side-nav-bottom-panel">
        <a id="expand-menu" class="no-ajaxy" href="#"><i class="material-icons">menu</i>Collapse Menu</a>
    </div>
</div>

<div class="sidebar-to-right"></div>