
<div class="sidebar small-1 large-2 columns nopadding full-height hide-for-small-down scrollable-dark">
    <ul class="side-nav">
        <li {{#is nav 'dashboard'}} class='active' {{/is}}><a href="/dashboard"><i class="fa fa-home fa-large"></i><span class="show-for-large-up">Home</span></a></li>
        <li {{#is nav 'tickets'}} class='active' {{/is}}><a href="/tickets"><i class="fa fa-paste fa-large"></i>Tickets</a>
            <ul id="side-nav-sub-tickets" class="side-nav-sub {{#is nav 'tickets'}} subMenuOpen {{/is}}">
                <li {{#is subnav 'tickets-active'}} class='active' {{/is}}><a href="/tickets/active"><i class="fa fa-flask fa-sub-icon"></i>Active</a></li>
                <li {{#is subnav 'tickets-assigned'}} class='active' {{/is}}><a href="/tickets/assigned"><i class="fa fa-location-arrow fa-sub-icon"></i>Assigned</a></li>
                <hr/>
                <li {{#is subnav 'tickets-new'}} class='active' {{/is}}><a href="/tickets/new"><i class="fa fa-file-text-o fa-sub-icon"></i>New</a></li>
                <li {{#is subnav 'tickets-pending'}} class='active' {{/is}}><a href="/tickets/pending"><i class="fa fa-history fa-sub-icon"></i>Pending</a></li>
                <li {{#is subnav 'tickets-open'}} class='active' {{/is}}><a href="/tickets/open"><i class="fa fa-folder-open-o fa-sub-icon"></i>Open</a></li>
                <li {{#is subnav 'tickets-closed'}} class='active' {{/is}}><a href="/tickets/closed"><i class="fa fa-folder-o fa-sub-icon"></i>Closed</a></li>
            </ul>
        </li>
        <!--<li {{#is nav 'messages'}} class='active' {{/is}}><a href="/messages/inbox" class="ajaxify" data-url="/messages" data-sub-menu="side-nav-sub-messages"><i class="fa fa-envelope-o fa-large"></i>Messages</a>-->
            <!--<ul id="side-nav-sub-messages" class="side-nav-sub {{#is nav 'messages'}} subMenuOpen {{/is}}">-->
                <!--<li {{#is subnav 'messages-inbox'}} class='active' {{/is}}><a href="/messages/inbox"><i class="icon-inbox"></i>Inbox</a></li>-->
                <!--<li {{#is subnav 'messages-sentitems'}} class='active' {{/is}}><a href="/messages/sentitems"><i class="icon-sent"></i>Sent Items</a></li>-->
                <!--<li {{#is subnav 'messages-trash'}} class='active' {{/is}}><a href="/messages/trash"><i class="icon-trash"></i>Trash</a></li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li {{#is nav 'calendar'}} class='active' {{/is}}><a href="/calendar"><i class="fa fa-calendar fa-large"></i>Calendar</a></li>-->
        <!--<li {{#is nav 'servers'}} class='active' {{/is}}><a href="/servers"><i class="fa fa-hdd-o fa-large"></i>Servers</a></li>-->
        {{#canUser data.user "accounts:view"}}<li {{#is nav 'accounts'}} class='active' {{/is}}><a href="/accounts"><i class="icon-accounts"></i>Accounts</a></li>{{/canUser}}
        {{#canUser data.user "groups:view"}}<li {{#is nav 'groups'}} class='active' {{/is}}><a href="/groups"><i class="icon-groups"></i>Groups</a></li>{{/canUser}}
        <!--<li {{#is nav 'chat'}} class='active' {{/is}}><a href="/chat"><i class="fa fa-comments-o fa-large"></i>Chat</a></li>-->
        <!--<li {{#is nav 'invoices'}} class='active' {{/is}}><a href="/invoices"><i class="icon-invoices"></i>Invoices</a></li>-->
        {{#canUser data.user "reports:view"}}
            <li {{#is nav 'reports'}} class='active' {{/is}}><a href="/reports"><i class="fa fa-book fa-large"></i>Reports</a>
                <ul id="side-nav-sub-reports" class="side-nav-sub {{#is nav 'reports'}} subMenuOpen {{/is}}">
                    <li {{#is subnav 'messages-inbox'}} class='active' {{/is}}><a href="/reports/create"><i class="fa fa-plus fa-sub-icon"></i>Create</a></li>
                    <hr/>
                    <li {{#is subnav 'messages-inbox'}} class='active' {{/is}}><a href="/reports/active"><i class="fa fa-refresh fa-sub-icon"></i>Active</a></li>
                    <li {{#is subnav 'messages-sentitems'}} class='active' {{/is}}><a href="/reports/inactive"><i class="fa fa-times-circle fa-sub-icon"></i>Inactive</a></li>
                    <li {{#is subnav 'messages-trash'}} class='active' {{/is}}><a href="/reports/completed"><i class="fa fa-check-circle fa-sub-icon"></i>Completed</a></li>
                </ul>
            </li>
        {{/canUser}}
    </ul>
</div>