<div class="small-12 large-10 columns nopadding page-right-content">
    <div class="page-title">
        <p class="left">Servers</p>
        <div class="right">
            <ul class="button-group">
                <li class="active"><a href="#" role="button" class="btn">Add Server</a></li>
            </ul>
        </div>
    </div>
    <!--Content Here-->
    <div class="row server-row">
        <div class="small-6 large-4 columns left">
            <div class="server-box">
                <div class="server-title">
                    <p>Zoe.granvillecounty.local</p>
                </div>
                <div class="server-content">
                    <div class="row">
                        <div class="small-6 columns server-col-left">
                            <p>IP Address</p>
                        </div>
                        <div class="small-6 columns server-col-right">
                            <p>172.10.5.15</p>
                            <p>24.142.200.9</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns server-col-left">
                            <p>Ping</p>
                        </div>
                        <div class="small-6 columns server-col-right">
                            <div class="server-ping">
                                <p>96</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns server-col-left">
                            <p>Uptime</p>
                        </div>
                        <div class="small-6 columns server-col-right">
                            <p>368 Days</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns server-col-left">
                            <p>Last Outage</p>
                        </div>
                        <div class="small-6 columns server-col-right">
                            <p>14 Days</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns server-services">
                            <ul class="server-services-list clearfix">
                                <li class="orange"><span id="zoe.granvillecounty.local_s1" class="ptooltip" data-ptooltip data-title="MySQL" data-ptooltip-type="service" data-service-status="Starting">Starting</span></li>
                                <li class="green"><span id="zoe.granvillecounty.local_s2" class="ptooltip" data-ptooltip data-title="TeamSpeak 3" data-ptooltip-type="service" data-service-status="Running">Running</span></li>
                                <li class="green"><span id="zoe.granvillecounty.local_s3" class="ptooltip" data-ptooltip data-title="MongoDB" data-ptooltip-type="service" data-service-status="Running">Running</span></li>
                                <li class="red"><span id="zoe.granvillecounty.local_s4" class="ptooltip" data-ptooltip data-title="File Transfer Protocol" data-ptooltip-type="service" data-service-status="Stopped">Stopped</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="small-6 large-4 columns left">
            <div class="server-box">
                <div class="server-title server-status-red">
                    <p>grvexch.granvillecounty.local</p>
                </div>
                <div class="server-content">
                    <div class="row">
                        <div class="small-6 columns server-col-left">
                            <p>IP Address</p>
                        </div>
                        <div class="small-6 columns server-col-right">
                            <p>172.10.5.15</p>
                            <p>24.142.200.9</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns server-col-left">
                            <p>Ping</p>
                        </div>
                        <div class="small-6 columns server-col-right">
                            <div class="server-ping">
                                <p>timeout</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns server-col-left">
                            <p>Uptime</p>
                        </div>
                        <div class="small-6 columns server-col-right">
                            <p>368 Days</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns server-col-left">
                            <p>Last Outage</p>
                        </div>
                        <div class="small-6 columns server-col-right">
                            <p>14 Days</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns server-services">
                            <ul class="server-services-list clearfix">
                                <li class="orange"><span id="grvexch.granvillecounty.local_s1" class="ptooltip" data-ptooltip data-title="MySQL" data-ptooltip-type="service" data-service-status="Starting">Starting</span></li>
                                <li class="green"><span id="grvexch.granvillecounty.local_s2" class="ptooltip" data-ptooltip data-title="TeamSpeak 3" data-ptooltip-type="service" data-service-status="Running">Running</span></li>
                                <li class="green"><span id="grvexch.granvillecounty.local_s3" class="ptooltip" data-ptooltip data-title="MongoDB" data-ptooltip-type="service" data-service-status="Running">Running</span></li>
                                <li class="red"><span id="grvexch.granvillecounty.local_s4" class="ptooltip" data-ptooltip data-title="File Transfer Protocol" data-ptooltip-type="service" data-service-status="Stopped">Stopped</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="small-6 large-4 columns left">
            <div class="server-box">
                <div class="server-title">
                    <p>phenol.granvillecounty.local</p>
                </div>
                <div class="server-content">
                    <div class="row">
                        <div class="small-6 columns server-col-left">
                            <p>IP Address</p>
                        </div>
                        <div class="small-6 columns server-col-right">
                            <p>172.10.5.15</p>
                            <p>24.142.200.9</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns server-col-left">
                            <p>Ping</p>
                        </div>
                        <div class="small-6 columns server-col-right">
                            <div class="server-ping">
                                <p>256</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns server-col-left">
                            <p>Uptime</p>
                        </div>
                        <div class="small-6 columns server-col-right">
                            <p>368 Days</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns server-col-left">
                            <p>Last Outage</p>
                        </div>
                        <div class="small-6 columns server-col-right">
                            <p>14 Days</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns server-services">
                            <ul class="server-services-list clearfix">
                                <li class="orange"><span id="phenol.granvillecounty.local_s1" class="ptooltip" data-ptooltip data-title="MySQL" data-ptooltip-type="service" data-service-status="Starting">Starting</span></li>
                                <li class="green"><span id="phenol.granvillecounty.local_s2" class="ptooltip" data-ptooltip data-title="TeamSpeak 3" data-ptooltip-type="service" data-service-status="Running">Running</span></li>
                                <li class="green"><span id="phenol.granvillecounty.local_s3" class="ptooltip" data-ptooltip data-title="MongoDB" data-ptooltip-type="service" data-service-status="Running">Running</span></li>
                                <li class="red"><span id="phenol.granvillecounty.local_s4" class="ptooltip" data-ptooltip data-title="File Transfer Protocol" data-ptooltip-type="service" data-service-status="Stopped">Stopped</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>