util.print: Use console.log instead
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}
.navigation {
  position: fixed;
  float: left;
  width: 250px;
  height: 100%;
  background-color: #2c3e50;
}
.navigation .applicationName {
  margin: 0;
  margin-top: 15px;
  padding: 10px 15px;
  font: bold 1.25em Helvetica;
  color: #fff;
}
.navigation .applicationName a {
  color: #fff;
}
.navigation .search {
  padding: 10px 15px;
}
.navigation .search input {
  background-color: #1a2937;
  color: #fff;
  border-color: #243546;
}
.navigation .list {
  padding: 10px 15px 0 15px;
  position: relative;
  overflow: auto;
  width: 100%;
}
.navigation li.item {
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #1a2937;
}
.navigation li.item a {
  color: #bbb;
}
.navigation li.item a:hover {
  color: #fff;
}
.navigation li.item .title {
  cursor: pointer;
  position: relative;
  display: block;
  font-size: 0.8em;
}
.navigation li.item .title a {
  color: #e1e1e1;
}
.navigation li.item .title a:hover {
  color: #fff;
}
.navigation li.item .title .static {
  display: block;
  border-radius: 3px;
  background-color: #e74c3c;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
  float: right;
}
.navigation li.item .subtitle {
  margin-top: 10px;
  font: bold 0.65em Helvetica;
  color: #e74c3c;
  display: block;
}
.navigation li.item ul > li {
  font-size: 0.7em;
  padding-left: 8px;
  margin-top: 2px;
}
.navigation li.item .itemMembers {
  display: none;
}
