@import "mixins"
@import "_settings"
@import url(http://fonts.googleapis.com/css?family=Lato:300,400)
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300,600)
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700)
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700)

html,
body
  background: #d5dae6
  overflow-x: hidden
  font-family: "Open Sans", sans-serif

.nomargin
  margin: 0 !important
.nopadding
  padding: 0 !important
.nopadding-right
  padding-right: 0 !important
.nopadding-left
  padding-left: 0 !important
.nopadding-top
  padding-top: 0 !important
.nopadding-bottom
  padding-bottom: 0 !important

.noshadow
  +boxShadow(none !important)

.row
  max-width: $rowWidth

.page-title,
.page-title-right
  height: 70px
  background: #eef1f7
  border-top: 2px solid #e74c3c
  +boxShadow2(inset 0 1px 0px #fff, 2px 2px 2px 0px rgba(44,62,80,0.1))
  padding: 0 15px 0 30px
  @media only screen and (min-width: 64.063em)
    padding: 0 30px

  font-family: "Roboto", sans-serif
  p
    font-size: 30px
    margin: 0
    line-height: 70px
    color: #55616e

.page-title-border-right
  width: 100%
  height: 100%
  border-right: 1px solid #dfe4ef

.page-content
  background: white
  border-top: 1px solid #dfe4ef
  overflow: auto

.fa-large
  font-size: 24px
  line-height: 26px

a.button
  color: #fff
  font-family: "Source Sans Pro", sans-serif
  font-weight: 600
  font-size: 14px
  //margin: 18px 5px 0 0
  padding: 4px 16px
  +borderRadius(3px)
  background: #e74c3c

  &.dropdown
    padding-right: 40px
    //margin: 0
    &:after
      width: auto
      height: auto
      right: 12px
      top: 10px
      font-family: "FontAwesome"
      content: "\f078"
      border: none
      font-size: 12px

  &:hover
    background: darken(#e74c3c, 5%)
    color: white

  i
    font-weight: normal
    margin-right: 10px
    font-size: 14px

.f-dropdown.open:before
  left: 10px !important
.f-dropdown.open:after
  left: 9px !important


@import "partials/topnav"
@import "partials/sidebar"
@import "partials/messages"