<ion-popover-view class="popover-autoheight">
  <ion-content scroll="false">
    <div class="list">
      <a class="item" ng-click="showAddComment($event)">Add Comment</a>
       <a class="item" ng-show="hasNotes" ng-click="showAddNote($event)">Add Note</a>
      <a class="item" ng-show="isAgent" ng-click="openSetAssigneeModal()">Set Assignee</a>
      <a class="item" ng-show="isAgent" ng-click="showStatusActionSheet()">Set Status</a>
      <a class="item" ng-click="showTicketDetails()">View Details</a>
      <a class="item" ng-show="isAgent" ng-click="closeTicket()" style="color: #D32F2F;">Close Ticket</a>
    </div>
  </ion-content>
</ion-popover-view>
