<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Filter Ticket View</h1>
    <div class="buttons">
      <button class="button button-icon button-clear ion-ios-close-empty" style="color: white;" ng-click="closeTicketFilter()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <label class="item item-input">
        <i class="icon ion-ios-search-strong placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="search.term" ng-change="searchTermChanged()" />
      </label>
      <ion-item class="item-divider item">
        Options
      </ion-item>
      <ion-toggle id="showClosedTickets" ng-model="filter.showClosedTickets" toggle-class="toggle-calm1" ng-change="showClosedTicketsChanged()">Show Closed Tickets</ion-toggle>
      <ion-toggle id="showOnlyAssigned" ng-model="filter.showOnlyAssigned" toggle-class="toggle-calm1" ng-change="showOnlyAssigneedChanged()">Only Assigneed to Me</ion-toggle>
    </ion-list>

    <div class="padding">
      <button class="button button-assertive" style="width: 48%; margin-right:3px" type="button" ng-click="clearTicketFilter();">Clear Filter</button>
      <button class="button button-balanced" style="width: 48%;" type="button" ng-click="applyTicketFilter();">Apply Filter</button>
    </div>
  </ion-content>
</ion-modal-view>
