<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Add Comment</h1>
    <div class="buttons">
      <button class="button button-icon button-clear ion-ios-close-empty" style="color: white;" ng-click="closeAddComment()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="ticket-details" style="padding: 0 15px;">
      <img http-src="/uploads/users/defaultProfile.jpg" class="profile-pic" ng-if="!loggedInUser.image">
      <img http-src="/uploads/users/{{loggedInUser.image}}" class="profile-pic" ng-if="loggedInUser.image">
      <div class="margin-left-65">
        <span class="date" style="right: 15px;">{{'' | currentdate}}</span>
        <h4>Ticket #{{ticket.uid}}</h4>
        <h5>{{loggedInUser.fullname}}</h5>
        <h5>{{loggedInUser.title}}</h5>
      </div>
    </div>
    <form ng-submit="addCommentFormSubmit()">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Comment</span>
          <textarea name="comment" ng-model="commentModalForm.comment" rows="8" cols="40" style="resize: none;"></textarea>
        </label>
        <div class="padding">
          <button class="button button-full button-balanced" type="submit">Add Comment</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
