<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">New Ticket</h1>
    <div class="buttons">
      <button class="button button-icon button-clear ion-ios-close-empty" style="color: white;" ng-click="closeNewTicket()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form action="#" ng-submit="submitNewTicket($event)">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Subject" ng-model="modalNewTicketForm.subject">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Group
          </div>
          <select ng-model="selected.group" ng-options="group._id as group.name for group in groups">
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Type
          </div>
          <select ng-model="selected.ticketType" ng-options="type as type.name for type in ticketTypes">
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Priority
          </div>
          <select ng-model="selected.priority._id" ng-options="priority._id as priority.name for priority in selected.ticketType.priorities"></select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Issue</span>
          <textarea name="name" rows="8" cols="40" style="resize: none;" ng-model="modalNewTicketForm.issue"></textarea>
        </label>
        <div class="padding">
          <button class="button button-full button-balanced" type="submit">
            Create Ticket
          </button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
