<div class="test">
  <div class="shadow-wrapper">
    <svg class="shadow">
      <defs>
        <radialGradient r="0.5" cy="0.5" cx="0.5" id="shadow">
          <stop stop-color="#323232" offset="0" />
          <stop stop-opacity="0" stop-color="#323232" offset="1" />
        </radialGradient>
      </defs>
      <ellipse class="shadow" opacity="0.2" ry="6" rx="35" id="svg_1" cy="65" cx="90" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#323232" fill="url(#shadow)" />
    </svg>
  </div>
  <div class="test-wrapper">
    <svg id="t" class="bigdot" style="width: 140px; height: 75px;" viewBox="0 0 288.9 70.1" preserveAspectRatio="xMidYMid meet">
      <g id="g" style="width: 100%; height: 100%;">
          <circle class="s1" cx="35.9" cy="82" r="10" />
      </g>
  </svg>
  </div>
</div>
