<ion-modal-view>
  <ion-header-bar class="status-{{ticket.status}}-bg bar bar-header">
    <h3 class="title">Ticket #{{ticket.uid}} Details</h3>
    <div class="buttons">
      <button class="button button-icon button-clear ion-ios-close-empty" style="color: white;" ng-click="closeTicketDetailsModal()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>

      <ion-item>Status<span class="item-note">{{ticket.status | statusMap}}</span></ion-item>
      <ion-item>Priority<span class="item-note">{{ticket.priority.name}}</span></ion-item>
      <ion-item>Type<span class="item-note">{{ticket.type.name}}</span></ion-item>
      <ion-item>Group<span class="item-note">{{ticket.group.name}}</span></ion-item>
      <ion-item>Assignee<span class="item-note">{{ticket.assignee.fullname | assigneeMap}}</span></ion-item>

      <ion-item class="item-divider">Tags</ion-item>
      <ion-item ng-repeat="tag in ticket.tags">{{tag.name}}</ion-item>
      <ion-item class="item-divider">Ticket History</ion-item>
      <ion-item ng-repeat="history in ticket.history" type="item-text-wrap">
        <h4 style="margin-bottom: 0;">{{history.owner.fullname}}</h4>
        <span class="ticketDate">{{history.date | date: 'short'}}</span>
        <h5 style="margin-bottom: 5px;">{{history.action}}</h5>
        <h3 style="margin-bottom: 2px;">{{history.description}}</h3>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-modal-view>
