<!DOCTYPE html>
<html>
<head>
    <title>TruDesk &middot; {{{title}}}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/normalize.min.css"/>
    <link rel="stylesheet" href="/css/foundation.min.css"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/css/foundation.min.css"/>
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/fastclick.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/js/foundation.min.js"></script>
    <script src="/js/vendor/modernizr.js"></script>

    {{#block 'css'}}

    {{/block}}

    <link rel="stylesheet" href="/css/vendor/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/app.min.css"/>

</head>
<body>
<div class="wrapper">
{{> topbar }}
<div class="row">
    {{> nav }}

    {{{body}}}

</div>
{{> chatdock }}
    </div>

{{#block 'js-plugins'}}

{{/block}}

<script src="/js/plugins/plugins.min.js"></script>
<script src="/js/client.min.js"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->
<!--<script src="/js/chatClient.js"></script>-->

</body>
</html>