<div class="uk-width-1-1 nopadding page-right-content"  ng-controller="noticesCtrl">
    <div class="uk-grid page-title noshadow dt-borderBottom">
        <div class="uk-width-4-10 left" style="padding-left: 20px !important;">
            <p>{{title}}</p>
        </div>
        <div class="uk-width-6-10 pagination nomargin nopadding">

        </div>
    </div>
    <!--Content Here-->
    <div class="full-height page-right-content scrollable">
        <div class="">
            <div class="uk-width-1-1" style="padding: 25px;">
                <div class="panel trupanel nopadding no-hover-shadow uk-overflow-hidden" style="min-height: 60px; height: auto;">
                    <div class="panel-body2" style="padding: 20px 15px 15px 15px;">
                        <form id="createNoticeForm" class="uk-form-stacked" action="/">
                            <div class="uk-position-relative">
                                <div class="uk-margin-medium-bottom">
                                    <div class="right">
                                        <div class="md-switch md-green" style="position: absolute; top: 5px; right: -15px; z-index: 99;">
                                            <label>
                                                Alert Window
                                                <input id="nAlertWindow" name="nAlertWindow" type="checkbox" {{#compare data.notice.alertWindow '==' true}} checked {{/compare}}>
                                                <span class="lever"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <label for="nName">Name</label>
                                    <input id="nName" class="md-input md-input-width-medium" name="nName" type="text" value="{{data.notice.name}}" />

                                </div>
                                <div class="uk-margin-medium-bottom">
                                    <label for="nMessage">Message</label>
                                    <input id="nMessage" class="md-input md-input-width-medium" name="nMessage" type="text" value="{{data.notice.message}}" />
                                </div>

                                <div class="uk-margin-medium-bottom">
                                    <label for="nFontColor">Font Color:</label>
                                    <select name="nFontColor" id="nFontColor">
                                        <option value="#f6f6f6">White</option>
                                        <option value="#000000">Black</option>
                                    </select>
                                </div>
                                <div class="uk-margin-medium-bottom">
                                    <label for="nColor" style="margin-right: 23px;" class="uk-form-label">Notice Color:</label>
                                    <select id="nColor" name="nColor">
                                        <option value="#7bd148" {{#compare data.notice.color '==' '#7bd148'}} selected {{/compare}}>Green</option>
                                        <option value="#5484ed" {{#compare data.notice.color '==' '#5484ed'}} selected {{/compare}}>Bold blue</option>
                                        <option value="#a4bdfc" {{#compare data.notice.color '==' '#a4bdfc'}} selected {{/compare}}>Blue</option>
                                        <option value="#46d6db" {{#compare data.notice.color '==' '#46d6db'}} selected {{/compare}}>Turquoise</option>
                                        <option value="#7ae7bf" {{#compare data.notice.color '==' '#7ae7bf'}} selected {{/compare}}>Light green</option>
                                        <option value="#51b749" {{#compare data.notice.color '==' '#51b749'}} selected {{/compare}}>Bold green</option>
                                        <option value="#fbd75b" {{#compare data.notice.color '==' '#fbd75b'}} selected {{/compare}}>Yellow</option>
                                        <option value="#ffb878" {{#compare data.notice.color '==' '#ffb878'}} selected {{/compare}}>Orange</option>
                                        <option value="#ff887c" {{#compare data.notice.color '==' '#ff887c'}} selected {{/compare}}>Red</option>
                                        <option value="#e74c3c" {{#compare data.notice.color '==' '#e74c3c'}} selected {{/compare}}>Bold red</option>
                                        <option value="#dbadff" {{#compare data.notice.color '==' '#dbadff'}} selected {{/compare}}>Purple</option>
                                        <option value="#e1e1e1" {{#compare data.notice.color '==' '#e1e1e1'}} selected {{/compare}}>Gray</option>
                                    </select>
                                </div>


                                <div class="uk-clearfix">
                                    <button type="submit" class="uk-margin-left uk-float-right md-btn md-btn-success md-btn-wave-light" id="createNoticeSubmit" ng-click="submitCreateNoticeForm($event);">Save</button>
                                    <a href="/notices" class="uk-float-right md-btn md-btn-wave-light">Back</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#contentFor 'js-plugins'}}

{{/contentFor}}