<div id="__noticeId" class="hide">{{data.notice._id}}</div>
<div class="page-content"  ng-controller="noticesCtrl">
    <div class="page-title noshadow page-title-border-bottom uk-padding-medium-sides">
        <p class="left">{{title}}</p>
        <div class="pagination right">
            <ul class="button-group">
                <li class="pagination">
                    <a href="/notices" class="btn md-btn-wave-light" style="border-radius: 3px; margin-right: 5px;">Cancel</a>
                </li>
                <li class="pagination">
                    <a href="#" class="no-ajaxy btn btn-success md-btn-wave-light" style="border-radius: 3px;" ng-click="submitEditNoticeForm()">Save</a>
                </li>
            </ul>
        </div>
    </div>
    <!--Content Here-->
    <div id="page-content-inner" class="page-wrapper scrollable no-overflow-x full-height">
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <form id="editNoticeForm" class="uk-form-stacked" action="/" method="POST">
                    <div>
                        <label for="nName" class="uk-form-label">Notice Name</label>
                        <input id="nName" class="md-input" name="nName" type="text" value="{{data.notice.name}}"/>

                        <label for="nMessage" class="uk-form-label">Notice Message</label>
                        <input id="nMessage" class="md-input" name="nMessage" type="text" value="{{data.notice.message}}"/>

                        <div class="uk-clearfix" style="">
                            <p class="left" style="
                                padding-top: 3px;
                                margin-right: 15px;
                                font-size: 14px;
                                font-weight: 400;
                                color: #2c3e50;
                                display: inline-block;">Alert Window: </p>
                            <div class="onoffswitch onSwitch left">
                                <input type="checkbox" name="nAlertWindow" class="onoffswitch-checkbox" id="nAlertWindow" {{#compare data.notice.alertWindow '==' true}} checked {{/compare}}>
                                <label class="onoffswitch-label" for="nAlertWindow">
                                    <span class="onoffswitch-inner onSwitch-inner"></span>
                                    <span class="onoffswitch-switch onSwitch-switch"></span>
                                </label>
                            </div>
                        </div>

                        <div>
                            <label for="nFontColor" class="uk-form-label">Font Color:</label>
                            <select id="nFontColor" name="nFontColor">
                                <option value="#f6f6f6">White</option>
                                <option value="#000000">Black</option>
                            </select>
                        </div>

                        <div>
                            <label for="nColor" style="margin-right: 23px;" class="uk-form-label">Notice Color:</label>
                            <select id="nColor" name="nColor">
                                <option value="#7bd148" {{#compare data.notice.color '==' '#7bd148'}} selected {{/compare}}>Green</option>
                                <option value="#5484ed" {{#compare data.notice.color '==' '#5484ed'}} selected {{/compare}}>Bold blue</option>
                                <option value="#a4bdfc" {{#compare data.notice.color '==' '#a4bdfc'}} selected {{/compare}}>Blue</option>
                                <option value="#46d6db" {{#compare data.notice.color '==' '#46d6db'}} selected {{/compare}}>Turquoise</option>
                                <option value="#7ae7bf" {{#compare data.notice.color '==' '#7ae7bf'}} selected {{/compare}}>Light green</option>
                                <option value="#51b749" {{#compare data.notice.color '==' '#51b749'}} selected {{/compare}}>Bold green</option>
                                <option value="#fbd75b" {{#compare data.notice.color '==' '#fbd75b'}} selected {{/compare}}>Yellow</option>
                                <option value="#ffb878" {{#compare data.notice.color '==' '#ffb878'}} selected {{/compare}}>Orange</option>
                                <option value="#ff887c" {{#compare data.notice.color '==' '#ff887c'}} selected {{/compare}}>Red</option>
                                <option value="#e74c3c" {{#compare data.notice.color '==' '#e74c3c'}} selected {{/compare}}>Bold red</option>
                                <option value="#dbadff" {{#compare data.notice.color '==' '#dbadff'}} selected {{/compare}}>Purple</option>
                                <option value="#e1e1e1" {{#compare data.notice.color '==' '#e1e1e1'}} selected {{/compare}}>Gray</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{#contentFor 'js-plugins'}}
    <script type="text/javascript">
        require(['pages/createNotice'], function(createNotice) {
            createNotice.init();
        });
    </script>
{{/contentFor}}