<div class="small-12 large-10 columns nopadding page-right-content">
    <div class="page-title">
        <p class="left"><img src="/uploads/users/{{data.account._id}}.png" alt="{{data.account.username}}" style="margin-right: 10px; margin-bottom: 7px"/> {{data.account.fullname}}</p>
        <div class="right">
            <ul class="button-group">
                <li><a href="/accounts" role="button" class="btn">Cancel</a></li>
                <li class="active"><button class="btn" ng-click="submitForm('createAccountForm')" data-form="createAccountForm">Save</button>
                    <!--<a href="#" role="button" class="btn" data-action="submit" data-form="createAccountForm">Save</a>-->
                </li>
            </ul>
        </div>
    </div>
    <!--Content Here-->
    <div class="page-wrapper scrollable no-overflow-x">
        <div class="row padtop20 padleft30 padright20">
            <div class="small-12 columns">
                <form id="createAccountForm" class="form" action="/accounts/create" method="POST">
                    <label for="tSubject">Subject</label>
                    <input id="tSubject" name="tSubject" type="text" />

                </form>
            </div>
        </div>
    </div>
</div>