.chosen-container
  .chosen-drop
    +boxShadow(none)

  .chosen-results
    li.highlighted
      background: #3498db none

.chosen-container-single
  .chosen-single
    background: #f3f5f9
    border: 1px solid #bec4d0
    +boxShadow(none)
    +borderRadius(3px)
    font-size: 12px

  .chosen-drop
    background: darken(#f3f5f9, 5%)
    border-color: #bec4d0
    +borderRadius(0 0 3px 3px)
    font-size: 12px

    .chosen-results
      li
        line-height: normal
        font-size: 12px
        padding: 3px 4px

.chosen-container-active
  &.chosen-with-drop
    .chosen-single
      border: 1px solid #bec4d0
      +boxShadow(none)
      background-image: none


.chosen-container-multi
  width: 100% !important

  .chosen-choices
    border: 1px solid #9aa1ad
    background: #eceff6
    min-height: 2.3125rem !important

    li.search-choice
      background: #3498db none
      border: none
      color: white
      font-size: 13px
      padding: 8px 25px 8px 8px
      +boxShadow(none)

      .search-choice-close
        top: 9px
        right: 5px

    li.search-field
      input[type="text"]
        height: 32px
        margin-left: 2px

.chosen-container-active
  .chosen-choices
    border: 1px solid #9aa1ad
    background: #ffffff
    +boxShadow(none)