.page-right-content
  @media only screen and (min-width: 40.063em) and (max-width: 64em)
    padding: 0 0 0 55px !important

div.ptooltip-box-wrap
  display: none
  //visibility: hidden
  position: absolute
  left: 50%
  bottom: 15px
  margin-left: -75px
  z-index: 99999
  opacity: 0.95

div.ptooltip-box
  position: relative
  width: 150px
  max-width: 150px
  min-height: 45px
  background: #223140
  text-align: center
  padding: 7px 0
  +borderRadius(5px)
  +boxShadow(1px 1px 1px rgba(0,0,0,0.3))

  &:before,
  &:after
    position: absolute
    top: 100%
    left: 50%
    border: solid transparent
    content: " "
    height: 0
    width: 0
    pointer-events: none

  &:before
    border-color: rgba(34, 49,64,0)
    border-top-color: #223140
    border-width: 11px
    margin-left: -11px

  &:after
    border-color: rgba(34, 49, 64, 0)
    border-top-color: #223140
    border-width: 5px
    margin-left: -5px

  span
    &:first-child
      font-weight: 600
    display: block
    font-family: "Source Sans Pro", sans-serif
    font-weight: 400
    font-size: 12px !important
    color: white
    margin-bottom: 5px
    &:last-child
      margin-bottom: 0
    span
      display: inline !important


.alert-message
  position: absolute
  top: 50px
  left: 50%
  width: 380px
  height: 55px
  background: red
  +borderRadius(5px)

.largeProfilePic
  border: 2px solid #ffffff
  background: transparent
  position: relative
  width: 256px
  height: 256px
  overflow: hidden

  img
    width: 256px
    height: 256px

  div.hoverAction
    position: absolute
    bottom: -55px
    left: 0
    width: 100%
    height: 55px
    opacity: 0.7
    background: black
    text-align: center
    color: #ffffff
    z-index: 300
    span
      display: inline-block
      padding-top: 20px
      font-weight: 300
      font-size: 14px

//foundation modal
.reveal-modal
  h2
    font-family: "Open Sans", sans-serif
    font-weight: 300

  .chosen-container-multi
    .chosen-choices
      border: 1px solid #dfe4ef
      background: #f3f5f9
      +borderRadius(3px)

    .chosen-drop
      background: lighten(#f3f5f9, 10%)
      border-color: #dfe4ef

  span
    font-size: 0.875rem
    color: #4d4d4d
    font-weight: normal
    line-height: 1.5
    margin-bottom: 0

  input,
  textarea
    font-family: "open sans", sans-serif
    font-size: 14px
    color: #3d4854
    resize: none
    background: #f3f5f9
    border: 1px solid #dfe4ef
    +borderRadius(3px)
    box-sizing: border-box
    +boxShadow(none)

    &:focus,
    &:active
      background: #fafafa
      border-color: #dfe4ef
      outline: none
      +boxShadow(none)

  button
    font-family: "open sans", sans-serif
    font-size: 14px
    color: #ffffff
    padding: 8px 16px
    font-weight: 300
    +borderRadius(3px)

    &:focus,
    &:active
      outline: none

.pagination
  margin-right: 8px

  .pagination-info
    font-family: "Open Sans", sans-serif
    font-size: 13px
    font-weight: 300
    float: left
    display: inline-block
    margin-right: 10px
    padding-top: 25px

  .button-group
    float: left

    li
      .btn
        margin-right: 0
        padding: 2px 16px
        background: lighten(#eef1f7, 5%)
        +borderRadius(3px 0 0 3px)

        i
          margin-right: 0

      &:last-child
        .btn
          +borderRadius(0 3px 3px 0)

.datepicker td span.active,
.datepicker td.active.day,
.datepicker td.active.year
  background: lighten(#e74c3c, 5%)