.sidebar
  @media only screen and (min-width: 40.063em) and (max-width: 64em)
    position: absolute
    top: 75px
    left: 0
    width: 55px
    max-width: 55px
    z-index: 9999
    overflow: hidden

  background: #223140
  color: #cfd3d6
  width: 215px
  position: fixed
  top: 75px
  left: 0
  bottom: 0
  +boxShadow(inset 0px 3px 4px rgba(0,0,0,0.07))

ul.side-nav
  list-style: none outside none
  line-height: 1.6
  display: block
  margin: 0
  padding: 0.875rem 0

  li
    font-size: 14px
    font-family: "Roboto", sans-serif
    margin: 0
    font-weight: normal

    &.active > a
      border-left: 2px solid $accent_color
      font-family: "Roboto", sans-serif !important
      background: #192633 !important

      i,svg
        color: white
        fill: white

  a
    padding: 0 0.875rem !important
    color: white !important
    border-left: 2px solid #223140
    position: relative
    padding-left: 60px !important
    line-height: 48px
    height: 48px

    &:not(.button)
      display: block
      margin: 0

    span
      padding-bottom: 5px

    &:hover
      border-left: 2px solid $accent_color
      background: #192633 !important
      i,svg
        color: white
        fill: white
        &.icon-accounts
          background-position: 0 -24px
        &.icon-groups
          background-position: 0 -22px
        &.icon-invoices
          background-position: 0 -20px

    i,svg
      line-height: 26px
      margin-right: 15px
      color: #536679
      margin-top: 5px
      position: absolute
      top: 5px
      left: 15px
      fill: #536679

ul.side-nav-sub
  @extend .side-nav
  list-style: none
  background: #131e29
  +boxShadow(inset 0px 3px 4px rgba(0,0,0,0.07))
  margin: 0
  padding: 10px 0
  overflow: hidden
  display: none
  &.subMenuOpen
    display: block
  hr
    margin: 15px 20px
    border: none
    height: 1px
    background: lighten(#131e29, 25%)
  li
    margin: 5px 0
    &.active
      a
        background: #131e29 !important
        color: $accent_color !important
        border: none
        i,svg
          color: $accent_color !important
          fill: $accent_color !important
        .fa-sub-icon
          line-height: 20px
          font-size: 20px
          left: 20px
          top: 0
          &.material-icons
            font-size: 24px

        .icon-inbox
          background-position: 0 -18px
        .icon-sent
          background-position: -16px -17px
        .icon-trash
          background-position: -32px -16px
        .icon-check
          background-position: 0 -16px
  a
    border: none
    font-weight: 300
    padding-left: 62px !important
    line-height: 30px
    height: 30px !important
    &:hover
      border: none
      color: $accent_color !important
      background: inherit !important
      i,svg
        color: $accent_color !important
        fill: $accent_color !important
      .icon-inbox
        background-position: 0 -18px
      .icon-sent
        background-position: -16px -17px
      .icon-trash
        background-position: -32px -16px
      .icon-check
        background-position: 0 -16px
    .fa-sub-icon,svg
      line-height: 20px
      font-size: 20px
      left: 20px
      top: 0
      &.material-icons
        font-size: 24px

.icon-inbox,
.icon-sent,
.icon-trash,
.icon-check
  width: 16px
  height: 16px
  background: url(/img/inbox.png) 0 0 no-repeat
  position: absolute
  top: 3px !important
  left: 20px !important

.icon-check
  background-image: url(/img/tickets_submenu.png)

.icon-sent
  background-position: -16px 0
.icon-trash
  background-position: -32px 0
  left: 22px !important

.icon-accounts
  width: 18px
  height: 24px
  background: url(/img/accounts.png) 0 0 no-repeat

.icon-groups
  width: 22px
  height: 22px
  background: url(/img/groups.png) 0 0 no-repeat

.icon-invoices
  width: 24px
  height: 20px
  background: url(/img/invoices.png) 0 0 no-repeat
  top: 10px !important