.ticketContent
  @media only screen and (min-width: 40.063em) and (max-width: 64em)
    padding: 0 0 0 55px !important

div#ticketTable_wrapper
  margin-bottom: 0
  background: white

.ticket-status span
  display: block
  width: 65px
  line-height: 25px
  height: 25px
  text-align: center
  font-size: 12px
  font-weight: 300
  font-family: "Roboto", sans-serif
  color: white
  background: #ababab
  +borderRadius(3px)

.ticket-status.ticket-open span
  background: #b92929
.ticket-status.ticket-new span
  background: #29b955
.ticket-status.ticket-pending span
  background: #2980b9

.floating-ticket-status
  position: absolute
  top: 22px
  right: 18px

  .ticket-status span
    font-weight: 500

#statusSelect
  position: absolute
  top: 28px
  left: -5px
  padding: 5px
  background: #ffffff
  border: 1px solid #bec4d0
  +borderRadius(3px)
  z-index: 999
  ul
    margin: 0
    padding: 0
    list-style: none

    li
      margin-bottom: 3px
      cursor: pointer

.page-actions
  .print-ticket
    a
      display: inline-block
      margin: 19px
      color: #707989
      font-size: 14px
      font-weight: 300
      &:hover
        color: darken(#707989, 10%)
    i
      display: inline-block
      margin-right: 8px
      font-size: 18px

.page-top-comments
  .active > a,
  .active > button
    background: darken(#cdd5e4, 1%)
  a.btn,
  button.btn,
  button
    background: #cdd5e4
    display: block
    color: #707989
    font-family: "Open Sans", sans-serif
    font-weight: 400
    font-size: 12px
    margin: 18px 5px 0 0
    padding: 8px 16px
    +borderRadius(3px)
    height: 28px
    line-height: 14px

    &:hover
      background: darken(#cdd5e4, 3%)

    i
      font-weight: normal
      margin-right: 10px
      font-size: 14px

.ticket-assignee-wrap
  padding-left: 30px
  padding-top: 30px
  margin-bottom: 40px
  h4
    font-family: "open sans", sans-serif
    font-size: 14px
    color: #8e98a2
    margin-bottom: 10px

.ticket-assignee
  line-height: 1.0
  img
    float: left
    display: block
    width: 50px
    height: 50px
    margin-left: 5px
    +borderRadius(50%)

  .ticket-assignee-details
    padding-left: 75px

    h3
      font-family: "open sans", sans-serif
      font-size: 14px
      color: #3d4854
      margin: 0 0 7px
      line-height: normal

    a, a:active, a:focus
      display: block
      font-family: "open sans", sans-serif
      font-size: 12px
      color: #76797e
      margin: 0 0 2px

      &:hover,
      &:hover:focus
        text-decoration: underline

    span
      font-family: "open sans", sans-serif
      font-size: 12px
      color: #76797e
      margin: 0 0 3px

.ticket-details
  display: block
  min-height: 150px
  background: #ffffff
  border: 1px solid #d3d9e4
  margin: 0 30px !important
  padding: 15px  !important
  font-family: "open sans", sans-serif
  font-size: 12px
  color: #76797e
  +borderRadius(3px)

  label
    font-family: "open sans", sans-serif
    font-size: 12px
    color: #76797e
    margin-bottom: 3px

  input,
  select,
  .input-box,
  .tag-list
    font-family: "open sans", sans-serif
    font-size: 12px
    height: 25px
    width: 97%
    padding: 5px 10px
    margin-bottom: 12px
    color: #484848
    background: #f3f5f9
    border: 1px solid #bec4d0
    +borderRadius(3px)
    +boxShadow(none)

    &:focus
      outline: none
      border-color: #bec4d0
      background: lighten(#f3f5f9, 5%)
      +boxShadow(none)

  select
    padding: 2px 4px

  .input-box
    padding-top: 3px
    padding-bottom: 3px

  .tag-list
    display: block
    padding: 0
    height: auto
    min-height: 25px
    max-height: none
    margin-bottom: 5px
    .item
      display: inline-block
      float: left
      font-size: 12px
      font-family: "open sans", sans-serif
      padding: 1px 8px
      margin: 2px 0px 0px 2px
      max-height: 20px
      background: #3498db
      color: #ffffff
      +borderRadius(3px)

      &.orange
        background: #db5334
      &:last-of-type
        margin-bottom: 2px

//Comments Section
.comments-wrapper
  .initial-issue,
  .ticket-comment,
  .ticket-reply
    padding: 20px 20px 15px 25px
    border-bottom: 1px solid #dfe4ef
    img
      display: block
      float: left
      height: 50px
      width: 50px
      margin-left: 10px
      +borderRadius(50%)
    .issue-text
      padding-left: 85px
    h3
      margin: 0 0 5px
      font-family: "open sans", sans-serif
      font-size: 18px
      font-weight: 600
      color: #3d4854

    a,a.comment-email-link
      display: inline-block
      font-size: 12px
      font-family: "open sans", sans-serif
      color: #e74c3c
      margin-left: 2px
      //margin-bottom: 7px

      &:hover
        text-decoration: underline
    a
      font-size: 14px
    time
      font-family: "open sans", sans-serif
      font-size: 12px
      color: #76797e
      display: block
      margin-bottom: 30px
      margin-left: 2px

    p
      font-family: "open sans", sans-serif
      font-size: 14px
      color: #3d4854
      line-height: 20px

  .ticket-comment,
  .initial-issue
    position: relative
    .comment-actions,
    .edit-issue
      position: absolute
      right: 25px
      top: 15px
      font-weight: 600
      font-size: 14px
      line-height: normal
      cursor: pointer
      display: none
      color: #8699ac
    &:hover
      .comment-actions,
      .edit-issue
        display: block
    .comment-actions div
      float: right
      display: inline-block
      margin: 0 5px

  .ticket-reply,
  .ticket-comment,
  .initial-issue
    border-bottom: none
    .comment-box,
    .edit-issue-box,
    .edit-comment-box
      //float: left
      width: 100%
      display: block
      padding-left: 85px
      margin-bottom: 1rem
      textarea
        font-family: "open sans", sans-serif
        font-size: 14px
        color: #3d4854
        resize: none
        background: #f3f5f9
        border: 1px solid #dfe4ef
        +borderRadius(3px)
        +boxShadow(none)
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
    button[type=submit],
    button[type=reset]
      font-family: "open sans", sans-serif
      font-size: 14px
      color: #ffffff
      padding: 8px 16px
      background: #e74c3c
      +borderRadius(3px)
      font-weight: 400

      &:hover
        background: darken(#e74c3c, 5%)
      &:active, &:focus
        outline: none
    button[type=reset]
      background: #cdd5e4

      &:hover
        background: darken(#cdd5e4, 10%)

.ticket-comment,
.initial-issue
  border-bottom: 1px solid #dfe4ef !important

//Ticket Form
form.ticket-form,
form.form
  label
    font-family: "Roboto", sans-serif
    font-size: 14px
    font-weight: normal
    color: #2c3e50
    margin-bottom: 3px
    display: inline-block
  input,textarea,select
    font-family: "Roboto", sans-serif
    font-size: 14px
    color: #223140
    background: #eceff6
    +boxShadow(none)
    border: 1px solid #9aa1ad
    &:focus
      background: lighten(#eceff6, 5%)
      +boxShadow(none)
      outline: none

  textarea
    resize: none

input[type="text"][disabled]
  color: gray
  background: darken(#eceff6, 5%)