<div class="small-12 large-10 columns nopadding ticketContent" ng-controller="reportsCtrl">
    <div class="page-title noshadow">
        <p class="left" style="font-weight: 300;">{{title}}</p>
        <div class="right">
            <ul class="button-group">

                <li style="position: relative;">
                    <div style="margin-top: 20px; margin-right: 5px;">
                        <select name="range" id="range" class="chosen-select">
                            <option value="30">Last 30 Days</option>
                            <option value="60">Last 60 Days</option>
                            <option value="90">Last 90 Days</option>
                            <option value="180">Last 180 Days</option>
                            <option value="365">Last 365 Days</option>
                        </select>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="full-height page-right-content scrollable padtop20">
        <div class="small-12 columns">

            <div class="panel trupanel nopadding" style="min-height: 300px;">
                <div class="left">
                    <h6 style="padding: 15px; margin: 0; font-size: 14px;">Chart</h6>
                </div>
                <div class="right" style="position:relative;">
                    <button class="action-link"><i class="fa fa-refresh"></i></button>
                    <div class="right" data-uk-dropdown="{pos: 'bottom-right'}" aria-haspopup="true" aria-expanded="false">
                        <button class="action-link"><i class="fa fa-ellipsis-v"></i></button>
                        <div class="uk-dropdown uk-dropdown-small uk-dropdown-bottom">
                            <ul class="uk-nav">
                                <li><a href="/tickets">This is a Link</a></li>
                                <li><a href="#">This is a Link</a></li>
                                <li><a href="#">This is a Link</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <hr class="nomargin-top">
                <div class="panel-body2">
                    <div id="test" class="mGraph mGraph-panel">

                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 columns nopadding">
            <div class="small-3 columns">
                <div class="panel trupanel nopadding" style="min-height: 200px;">
                    <div class="left">
                        <h6 style="padding: 15px; margin: 0; font-size: 14px;">Chart</h6>
                    </div>

                </div>
            </div>
            <div class="small-3 columns">
                <div class="panel trupanel nopadding" style="min-height: 200px;">
                    <div class="left">
                        <h6 style="padding: 15px; margin: 0; font-size: 14px;">Chart</h6>
                    </div>

                </div>
            </div>
            <div class="small-3 columns">
                <div class="panel trupanel nopadding" style="min-height: 200px;">
                    <div class="left">
                        <h6 style="padding: 15px; margin: 0; font-size: 14px;">Chart</h6>
                    </div>

                </div>
            </div>
            <div class="small-3 columns">
                <div class="panel trupanel nopadding" style="min-height: 200px;">
                    <div class="left">
                        <h6 style="padding: 15px; margin: 0; font-size: 14px;">Chart</h6>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>



{{#contentFor 'js-plugins'}}
    <script type="text/javascript">
        require(['pages/reports', 'metricsgraphics'], function(r) {
            r.init();
            MG.data_graphic({
                data: [
                    {'date':new Date('2015-11-01'),'value':12},
                    {'date':new Date('2015-11-02'),'value':18},
                    {'date':new Date('2015-11-03'),'value':13},
                    {'date':new Date('2015-11-04'),'value':16},
                    {'date':new Date('2015-11-05'),'value':22},
                    {'date':new Date('2015-11-06'),'value':84},
                    {'date':new Date('2015-11-07'),'value':50},
                    {'date':new Date('2015-11-08'),'value':13},
                    {'date':new Date('2015-11-09'),'value':25},
                    {'date':new Date('2015-11-10'),'value':8},
                    {'date':new Date('2015-11-11'),'value':2},
                    {'date':new Date('2015-11-12'),'value':34},
                    {'date':new Date('2015-11-13'),'value':55},
                    {'date':new Date('2015-11-14'),'value':50},
                    {'date':new Date('2015-11-15'),'value':60},
                    {'date':new Date('2015-11-16'),'value':79},
                    {'date':new Date('2015-11-17'),'value':25},
                    {'date':new Date('2015-11-18'),'value':10},
                    {'date':new Date('2015-11-19'),'value':18},
                    {'date':new Date('2015-11-20'),'value':33},
                    {'date':new Date('2015-11-21'),'value':80},
                    {'date':new Date('2015-11-22'),'value':45},
                    {'date':new Date('2015-11-23'),'value':43},
                    {'date':new Date('2015-11-24'),'value':39},
                    {'date':new Date('2015-11-25'),'value':0},
                    {'date':new Date('2015-11-26'),'value':17},
                    {'date':new Date('2015-11-27'),'value':16},
                    {'date':new Date('2015-11-28'),'value':12},
                    {'date':new Date('2015-11-29'),'value':15},
                    {'date':new Date('2015-11-30'),'value':5}
                ],
                markers: [
                    {'date': new Date('2015-11-25'), label: 'Holiday'}
                ],
                full_width: true,
                height: 250,
                target: '#test',
                x_accessor: 'date',
                y_accessor: 'value',
                show_tooltips: false
            })
        });
    </script>
{{/contentFor}}